[2020-10-28 09:31] daamol commented on #1589
We also need this before we can move some of our sites to Lagoon.

[2020-10-28 11:45] dan2k3k4 opened #2293 "Expose a `skip_deploy` regex configuration per project similar to `branches` regex"
Currently we can decide on whether to deploy environments based on the projects' `branches` variable.

We can also skip deployments if we add `[skip deploy]` in the message of the git commit as seen in https://github.com/amazeeio/lagoon/blob/0e51f7b74d0b24473ca21d22fb7c0a1aa3029d8d/services/webhooks2tasks/src/handlers/githubPush.ts#L21

However, that regex match above is hardcoded to `/\[skip depl

[2020-10-28 13:12] smlx commented on #2285
Hi @rocketeerbkw I wonder if there's any way we could also get this feature request in? https://github.com/amazeeio/lagoon/issues/2181

I've had a look at the permissions system but I don't think I understand it well enough to tackle the implementation myself. And I really don't know how much work it would be. What are your thoughts?

[2020-10-29 03:38] #1597 closed, assigned to twardnw

[2020-10-29 03:38] #2006 closed, assigned to smlx

[2020-10-29 03:38] #2014 closed, assigned to nobody

[2020-10-29 03:38] #2015 closed, assigned to shreddedbacon

[2020-10-29 03:39] tobybellwood commented on #1589
Specifically, this is for single-node Elasticsearch in customer projects, as any cluster-wide ES is provided via a different chart

[2020-10-29 20:54] dasrecht opened #2295 "Add documentation for nodejs images"
I got asked today which node containers we support currently and stumbled over the fact that we don't have those containers documented currently.

[2020-10-29 21:03] AlannaBurke commented on #2295
Where would i find this info or from whom would i obtain it?

[2020-10-29 21:26] AlannaBurke commented on #2295
also, is this a duplicate of https://github.com/amazeeio/lagoon/issues/1433?

[2020-10-29 21:34] dasrecht commented on #2295
🙈 ok let's close this and continue with 1433 - need to talk to the OP about that...

[2020-10-29 21:34] #2295 closed, assigned to nobody

[2020-10-29 21:34] dasrecht commented on #1433
I'll get a rough writeup done within the next few days.

[2020-10-30 18:35] rocketeerbkw opened #2296 "Add troubleshooting for skipping `make build`"
If you try to start lagoon services before building them locally, you will get an error. The error itself gives no indication that the user missed a step so we should document the error for googling.

If you follow the instructions in the docs you shouldn't get the error.

It could go on https://docs.lagoon.sh/lagoon/contributing-to-lagoon/developing-lagoon#troubleshooting.

The error is:
[code]

[2020-10-30 20:30] rocketeerbkw opened #2297 "Images unable to build with docker "BuildKit""
# Describe the bug

A comedy of errors:

1) Some images (so far we know `harborregistry` and `harborregistryctl`) cannot be built with the [BuildKit](https://docs.docker.com/develop/develop-images/build_enhancements/) docker build engine.
2) BuildKit is enabled by default now in Docker for Mac [2.4.0.0](https://docs.docker.com/docker-for-mac/release-notes/#docker-desktop-community-2400).
3) Instal

[2020-10-30 20:33] rocketeerbkw commented on #2297
Not sure why the build fails, but the docs to state there is a known [limitation](https://docs.docker.com/develop/develop-images/build_enhancements/#limitations) that it's `Only supported for building Linux containers`.

Easiest fix now is to just update our documentation to warn people to [disable BuildKit](https://docs.docker.com/develop/develop-images/build_enhancements/#to-enable-buildkit-buil

[2020-10-30 22:22] twardnw opened #2298 "Update prebackuppod image references to use amazee.io docker image cache"

[2020-11-01 19:17] seanhamlin opened #2303 "Dedicated clusters to define their own k8up backup schedule"
A customer has requested that _all_ projects on their dedicated cluster are backed up on a set schedule that differs from the defaults.

**Default schedule:**

• 7 daily backups
• 6 weekly backups

**Desired schedule:**

• 7 daily backups
• 4 weekly backups
• 12 monthly backups

[2020-11-03 01:08] seanhamlin commented on #2224
We were discussing this at standup, as this has real impacts for clusters, e.g.:

* Customer removes route from `.lagoon.yml` and releases to production. Say the site is no longer hosted on Lagoon, or is defunct and the domain is no longer active.
* Lagoon does not remove the dead route upon next deploy, it just chills.
* When the Let's Encrypt certificate expires next, it will not auto-renew as t

[2020-11-03 14:37] smlx opened #2310 "Ingress can contain invalid TLS specification"
# Describe the bug

If one of the auto-generated domains is longer than 63 characters you can get an error from `cert-manager` and the certificate is not generated.

## To Reproduce

Steps to reproduce the behavior:

1. Create a project / environment combination with names long enough to hit the 63 character limit.
2. Deploy into Kubernetes.
3. ACME certificates aren't generated, and this event is

[2020-11-05 06:52] shreddedbacon commented on #2167
I did some quick digging, I think the following were reverted when problems were added

https://github.com/amazeeio/lagoon/blame/master/services/ui/src/components/ActiveStandbyConfirm/index.js#L6
This line should actually be uncommented

https://github.com/amazeeio/lagoon/blame/master/services/ui/src/components/ActiveStandbyConfirm/index.js#L69
And this line should be changed back to
[code]

[2020-11-05 22:14] Schnitzel opened #2315 "OpenShift Aliases for Lagoon 2.0"
- [x] Alias `OpenShift` Object with `Kubernetes`
- [x] Alias `openshiftprojectname` with `namespace`
- [x] Alias `environmentByOpenshiftProjectName` with `environmentByNamespaceName
- [x] Alias `allOpenshifts` with `allKubernetes`
- [x] Alias `openshiftProjectPattern` with `namespacePattern`
- [x] Alias `DeleteOpenshiftInput`/`AddOpenshiftInput`/`UpdateOpenshiftInput`/`UpdateOpenshiftPatchInput` w

[2020-11-10 18:55] twardnw opened #2318 "openshiftbuilddeploymonitor sometimes fails silently"
There seems to be some times where the openshiftbuilddeploymonitor will just stop processing messages in the queue. At minimum it would be good to add some monitoring so this might alert, but a better goal is to find out what causes these stoppages. Unfortunately, I do not know how to reproduce this issue. The last known time this happened was Nov 10 at approx 10:05 PDT

[2020-11-11 07:07] bomoko opened #2319 "Reenable Harbor push for Openshift"
Commit https://github.com/amazeeio/lagoon/commit/42477b hashed out the Harbor image push code in order to hot-patch Lagoon due to network issues.

We should re-enable Harbor pushes.

[2020-11-12 04:37] smlx opened #2321 "Unable to update activeSystemsPromote on a project"
# Describe the bug

The `activeSystemsPromote` field is missing from `UpdateProjectPatchInput`.

## To Reproduce

Steps to reproduce the behavior:

1. View the schema for `UpdateProjectPatchInput`.
2. See that `activeSystemsPromote` is missing.

## Expected behavior

`activeSystemsPromote` should be a field in `UpdateProjectPatchInput` so that it can be updated on an existing project.

## Screensh

[2020-11-12 06:47] smlx opened #2322 "Lagoon Environments with slashes in their name aren't handled correctly when deploying to Kubernetes"
# Describe the bug

https://github.com/amazeeio/lagoon/blob/master/services/kubernetesbuilddeploy/src/index.ts#L41-L64

In this block of code we first `ocsafety` the environment name (at the top) and _then_ check to see if it matches the project's `productionEnvironment` (at the bottom). If any characters in the environment name are replaced in `ocsafety` then the environment will not be recognise

[2020-11-12 12:05] rocketeerbkw opened #2323 "Environment is not traversable via Problem/Fact"
# Describe the bug

The API Schema has `environment` as a field which should return the `Environment` type in a couple different places, including on the `Problem` and `Fact` types. Attempting to load any environment data from `Problem`/`Fact` returns null for every request instead.

## To Reproduce

Try to load environment data off a `Problem`/`Fact`:

[code]

returns
[code]

## Expected behavior

[2020-11-12 21:36] twardnw opened #2325 "enhance external monitoring checks"
Currently, as soon as an ingress/route is created, the annotation to enable uptime robot is set to `true`. When a project deploys new routes and they are not yet pointed at the cluster this can cause quite some noise. Also, some CDNs strip the X-Lagoon header that was previously used to check if a domain was properly reaching the Lagoon cluster.

Two improvements:

1. Add a check to deployments th

[2020-11-12 21:56] bomoko commented on #2323
@rocketeerbkw I'm happy to sort this out, total oversight on my side.

How should I approach this from a Lagoon 2 perspective? Anything special I need to do other than just submitting a PR to main?

[2020-11-12 23:42] amazeeio-deploy opened #2326 "Tenant switch in Kibana does not stay permanent or default to user's tennant"
For some users, the tenant switch in Kibana seems not to stick and keeps changing. The two possibilities currently known are:

01. Although the global tenant is disabled in the Open Distro configuration, somehow it still appears for some users
02. Global tenant does not appear but the tenant is empty before switching

[2020-11-12 23:46] #2326 closed, assigned to nobody

[2020-11-13 00:03] chandanatk opened #2327 "Tenant switch in Kibana does not stay permanent or default to user's tennant"
For some users, the tenant switch in Kibana seems not to stick and keeps changing. The two possibilities currently known are:
1. Although the global tenant is disabled in the Open Distro configuration, somehow it still appears for some users
2. Global tenant does not appear but the tenant is empty before switching

[2020-11-13 00:47] shreddedbacon commented on #2327
I've had a look into this and done a quick test locally.

Our `logs-db-ui` uses opendistro-1.6 (https://github.com/amazeeio/lagoon/blob/main/services/logs-db-ui/Dockerfile#L62)

I checked where the default tenant gets sourced from, and it happens here in the `getTenantByPreference` function https://github.com/opendistro-for-elasticsearch/security-kibana-plugin/blob/opendistro-1.6/lib/backend/opend

[2020-11-13 02:02] chandanatk commented on #2327
Only thing I could find for setting a default tenant
https://discuss.opendistrocommunity.dev/t/default-tenant-kibana/889

[2020-11-13 11:40] KimNyholm opened #2328 "PHP 7.4 deprecated argument order for implode()"
In PHP 7.4 passing the glue after the pieces (i.e. not using the documented order of parameters) has been deprecated for implode().

In docs/docs/examples/drupal7-mariadb/sites/default/settings.php the deprecated form is used:
`$conf['varnish_control_terminal'] = implode($varnish_hosts, " ");`

[2020-11-17 02:50] smlx commented on #2310
Note to future self: we'll need to add a `CLUSTER_URL` in `services/kubernetesbuilddeploy/src/index.ts` in addition to `ROUTER_URL`, since `ROUTER_URL` already contains the environment and project.

[2020-11-17 23:21] twardnw opened #2335 "inject Fastly annotations if Fastly operator is present on the cluster"
We have the Fastly Operator now available on k8s clusters. When it is present, all client domains should route via the CDN, so we need to inject the necessary annotations to ingresses for this.

`fastly.amazee.io/watch`
`fastly.amazee.io/service-id`

We would need to store the service-id along with the cluster information in the API. Also these settings need to be able to be overridden at the proj

[2020-11-18 02:36] tobybellwood opened #2336 "Clearly document release and maintenance policy for Lagoon"
We should clearly document our release and maintenance policy for Lagoon, especially as we near the release of Lagoon 2.x

https://docs.gitlab.com/ee/policy/maintenance.html is good as an example

[2020-11-20 04:07] shreddedbacon opened #2338 "Private container registry incorrectly sets login password"
When using the private container registry setup in Lagoon, if you define a password in the lagoon API at the project level, but you have environment level variables defined. The check used will prioritise the environment level variable first, but if there is one not defined, it will set it to an empty value.

https://github.com/amazeeio/lagoon/blob/f2fe153eab7da3c932f8b66b5c7136115a8c1bdc/images/o

[2020-11-23 00:46] shreddedbacon opened #2340 "Service type override environment variable not working"
# Describe the bug

When setting a `LAGOON_SERVICE_TYPES` override variable at the project level. If any environment variables are defined at the environment level, then the `LAGOON_SERVICE_TYPES` override is ignored, unless it is also set at the environment level.

## To Reproduce

Set the `LAGOON_SERVICE_TYPES` variable at the project level, make sure no environment level variables are defined.

[2020-11-23 02:41] seanhamlin commented on #1589
This will be required for a large customer in APAC to move to native kubernetes on Lagoon 2. Flagging as a blocker on that.

[2020-11-24 02:44] cdchris12 opened #2342 "Harbor Robot Account Created For Incorrect Project"
# Describe the bug

When calling the Harbor API to obtain a project's harbor repository ID, Lagoon currently blindly takes the first result returned with no verification as to whether or not that is the correct project. This is an issue because the Harbor API returns a list of any projects whose names contain the string which was searched for.

The issue is here: https://github.com/amazeeio/lagoon

[2020-11-24 07:41] twardnw opened #2344 "API does not return `baseBranchName`, `headBranchName`, or `number` for pull request environments"
These two fields are required to deploy a PR environment, but are not available via any of the environment related queries to the API. This makes it impossible to migrate a PR environment from one cluster to another

[2020-11-24 08:08] rocketeerbkw commented on #2344
The API stores environment deployment data normalized to account for all deployment methods (branch, promote, PR). This results in [four fields on the environment](https://github.com/amazeeio/lagoon/blob/main/services/api/src/typeDefs.js#L549-L564): `deployType`, `deployBaseRef`, `deployHeadRef`, and `deployTitle`.

Whenever a webhook or API deployment requests comes in, the data for these fields

[2020-11-24 08:17] twardnw commented on #2344
Those are easy enough to work around, but I did also just notice that `number` is also required by the API to create a PR environment deploy. For an existing project (aka migration) it would be possible to work this out via a regex.

[2020-11-24 08:17] #2344 closed, assigned to nobody

[2020-11-27 04:42] smlx commented on #1626
This is starting to generate lots of warnings in CI.

[2020-11-29 22:36] #2325 closed, assigned to nobody

[2020-11-30 11:43] smlx commented on #983
This was fixed a while ago now :smile:

[2020-11-30 11:43] #983 closed, assigned to nobody

[2020-11-30 22:06] cdchris12 opened #2352 "Lagoon should support defining custom baas bucket names"
With the ongoing migrations from Openshift to k8s, we've realized that moving our old baas repos from one AWS account to another is not tenable. Thus, we've decided that it would be in our best interest to create new baas repos for migrated projects, due to S3 having globally unique bucket names.

Ideally, there would be a project level environment variable, `baasBucketName`, which would be used b

[2020-12-01 00:22] justinlevi opened #2353 "ACME TLS Challenges showing up in hits"
# Describe the bug

TLS ACME challenges should be excluded from hits

See AIOAB-29

[2020-12-01 06:18] smlx opened #2357 "Problems DB error logs very verbose"
# Describe the bug

We are seeing some errors from elasticsearch when indexing `lagoon-logs`:
[code]

The error message concerned appears to be generated by the problems DB system when it encounters an error inserting duplicate records:
[code]

The log message itself appears to contain a full result set and is >91KB in size.

A contributing factor is that `lagoon-logs` is expected to contain a `pr

[2020-12-01 11:46] vincenzodnp opened #2358 "activeSystemsPromote not defined by UpdateProjectPatchInput"
# Describe the bug

Currently unable to update the `activeSystemsPromote` by using `updateProject` function
The error is:
```"message": "Field \"activeSystemsPromote\" is not defined by type UpdateProjectPatchInput. Did you mean activeSystemsRemove, activeSystemsDeploy, activeSystemsMisc, or activeSystemsTask?"```

## To Reproduce
Steps to reproduce the behavior:

1. Run a query like ```mutation u

[2020-12-01 13:41] smlx commented on #2358
I think this is a duplicate: https://github.com/amazeeio/lagoon/issues/2321

[2020-12-01 21:02] #2261 closed, assigned to nobody

[2020-12-02 09:08] vincenzodnp commented on #2358
Yep it is. Going to close

[2020-12-02 09:08] #2358 closed, assigned to nobody

[2020-12-03 17:09] vincenzodnp opened #2371 "Redis helmchart default strategy"
# Describe the bug

Redis kubernetes deployment default strategy is `Recreate` in the helmchart.
`RollingUpdate` expected

## Expected behavior
[code]

[2020-12-03 19:09] twardnw opened #2373 "ICM annotation improvements"
Improve the annotation addition for the IngressMonitorController so that it only enables monitoring for the first (the LAGOON_ROUTE) route of Standard Availability projects and enables the ICM on all routes of High Availability Projects.

[2020-12-04 01:21] #2371 closed, assigned to nobody

[2020-12-04 01:23] #2352 closed, assigned to nobody

[2020-12-04 01:23] #2342 closed, assigned to cdchris12

[2020-12-04 01:24] shreddedbacon opened #2376 "No default storage class for node-persistent template in openshift"
The default storage class is not set on `node-persistent` service types. This results in the PVC sitting in a pending state.
https://github.com/amazeeio/lagoon/blob/main/images/oc-build-deploy-dind/openshift-templates/node-persistent/pvc.yml#L39

But in `nginx-php-persistent` we set `bulk` as the default: https://github.com/amazeeio/lagoon/blob/main/images/oc-build-deploy-dind/openshift-templates/

[2020-12-04 01:25] #2266 closed, assigned to justinlevi

[2020-12-04 01:27] #2288 closed, assigned to bomoko

[2020-12-04 02:44] tnelson-doghouse opened #2377 "Deploy hangs when container registry fails."
# Describe the bug

1. We get the following error messages in our deploy
2020-12-04T00:42:48.306229219Z WARNING! Using --password via the CLI is insecure. Use --password-stdin.
2020-12-04T00:42:49.971050129Z Error response from daemon: Get https://registry-1.docker.io/v2/: unauthorized: incorrect username or password

2. At that point, it hangs indefinitely.  We had one build run for 220 hours.

(

[2020-12-04 05:31] shreddedbacon commented on #2377
Hi @tnelson-doghouse, I've looked into this issue and have found the problem.

The build does exit correctly, but due to a queue issue in Lagoon after the recent release, the UI had shown that the build was running, even though the build had failed. This meant that the running timer kept incrementing as the UI had no idea what state the build was at. The one referenced running for 220 hours is act

[2020-12-04 05:31] #2377 closed, assigned to nobody

[2020-12-04 18:11] twardnw opened #2379 "long route name in .lagoon.yml causes ingress to fail creating"
The chart for custom ingresses attempts to use the hostname of a route as the name of the release. The release name is limited to 53 characters, so even though hostnames which are longer than this are perfectly valid, this causes a failure in the deploy of such routes.

[2020-12-04 20:30] #2315 closed, assigned to nobody

[2020-12-07 14:58] Schnitzel opened #2382 "main branch ci: also test against openshift 3"
with https://github.com/amazeeio/lagoon/pull/2367 we're adding back ci into the main branch, which roughly works like this:
- kind cluster that runs lagoon-core
- same kind cluster as target for lagoon kubernetes tests

now we would also like to:
- still have kind cluster that runs lagoon-core (we don't expect Lagoon 2 to run on an OpenShift 3)
- start an OpenShift 3 minishift beside the kind clus

[2020-12-07 20:13] cdchris12 opened #2384 "Cannot specifically identify which key to delete with the deleteSshKey mutation"
# Describe the bug

The `deleteSshKey` mutation only allows for selecting an SSH key based upon the key's name, which is not a globally unique key in the database. As a result, it is not possible to specify exactly which key Lagoon should delete with this query.

## To Reproduce

Steps to reproduce the behavior:

1. Add two different keys to the API with the same name
2. Check the `ssh_keys` table

[2020-12-09 17:11] Schnitzel opened #2388 "update rabbitmq_delayed_message_exchange to 3.8.9"
we're experiencing the exact bug described in https://github.com/rabbitmq/rabbitmq-delayed-message-exchange/issues/149
as this is fixed in the 3.8.9 version of the plugin, we should upgrade asap

[2020-12-10 00:44] smlx opened #2392 "Undersized pod resources"
# Describe the bug

We currently define unrealistically small resources on pods in our kubernetes helm charts. This causes issues with pod scheduling, cluster autoscaling etc.

## To Reproduce

1. Deploy a lagoon project.
2. Observe that it is using much more than 10m CPU and 10Mi memory.

1. Deploy lots of lagoon projects.
2. Observe that the k8s scheduler can sometimes pack too many pods on a no

[2020-12-10 02:15] tobybellwood opened #2393 "Occasional failures on main branch CI"
Generally CI is much faster and reliable on main branch.  Occasionally we get deploy failures - I'd guess they're load related - there's a lot of parallel builds on a single node
https://lagoon-ci.amazeeio.cloud/blue/rest/organizations/jenkins/pipelines/lagoon/branches/PR-2387/runs/4/nodes/45/steps/46/log/?start=0
https://lagoon-ci.amazeeio.cloud/blue/rest/organizations/jenkins/pipelines/lagoon/br

[2020-12-10 04:07] smlx commented on #2393
Agree that this should fail faster.

I think this is less to do with the parallel builds, and more related to the way that the API takes a while to process all the fixtures we pump in via the `data-watcher-pusher`.

Probably the best fix for now would be to check the response and retry a few times to trigger a deploy before eventually failing.

[2020-12-10 23:42] seanhamlin commented on #667
Having a default HPA on dedicated clusters too would be useful, perhaps defined at a cluster level. e.g. `2 pod min, 5 pod max, 3000% CPU`.

[2020-12-10 23:50] seanhamlin commented on #2392
Agree with this issue, more accurate estimates can be done. Looking at an example live Drupal 8 project running in native kubernetes now:

* `Nginx/PHP`: 200MiB RAM, 0.11 CPU
* `Solr`: 600MiB RAM, 0.005 CPU
* `CLI`: 8 MiB RAM, 0.008 CPU

Checking on another busy Drupal 8 project:

* `Nginx/PHP`: 256MiB RAM, 0.12 CPU
* `CLI`: 1200 MiB RAM, 0.03 CPU

[2020-12-11 07:36] #2388 closed, assigned to cdchris12, jaimed-amazee

[2020-12-11 11:58] vincenzodnp opened #2398 "ssh key not removed when delete user"
# Describe the bug

Deleting a lagoon user should also remove ssh keys.
Now the deletion of a user doesn't touch ssh keys that remain in left-over status.

## To Reproduce

Steps to reproduce the behavior:

1. Query user and retrieve info about ssh keys
2. Query user by `UserBySshKey` GraphQL query
3. Delete the user via GraphQL or via lagoon-cli
4. Query user by `UserBySshKey` GraphQL query and g

[2020-12-14 02:47] nicksantamaria opened #2399 "Cronjobs running in the cli container have no concurrency protection"
# Describe the bug

The native `CronJob` objects created by Lagoon have `.spec.ConcurrencyPolicy: Forbid` set. This prevents cronjobs overlapping with each other if the execution time is longer than the period between each schedule.

When cronjobs are executed in the cli container (I believe this happens if their schedule is less than every 15 minutes?) this same protection is not present.

## To

[2020-12-14 02:54] Schnitzel commented on #2399
Lagoon uses https://github.com/christophlehmann/go-crond to run cronjobs inside the containers and like all other cronjob implementation of Unix there is no concurrency protection, see also https://unix.stackexchange.com/questions/58481/can-a-crontab-job-run-concurrently-with-itself

So I think that's not an issue? It's correct that we have cronjobs that are created via CronJob Object with `.spec.

[2020-12-14 03:50] nicksantamaria commented on #2399
You make fair points. Perhaps the way to deal with this is document the difference in behavior [here](https://lagoon.readthedocs.io/en/latest/using_lagoon/lagoon_yml/#cron-jobs-environmentsnamecronjobs).

[2020-12-14 05:23] smlx commented on #2399
We should also probably document the standard workaround, something like this (untested):

[code]

[2020-12-20 16:26] #2213 closed, assigned to nobody

[2020-12-21 04:11] shreddedbacon commented on #1082
With the lagoon build deploy controllers, we can get the timestamps from the logs once a build is completed. https://github.com/amazeeio/lagoon-kbd/pull/18 should be able to do this.

It isn't how long each step took to run, but using the timestamps you could easily work that out.

[2020-12-23 21:14] #2222 closed, assigned to vincenzodnp

[2021-01-07 13:50] dan2k3k4 commented on #2139
Hey @AlannaBurke, I've created PR #2446 and updated as much usage of `master` as possible.

There are still various links to 3rd party repositories but those still use `master` branch as their default branch.

I am not 100% sure on the `tests/` directory, I updated it but if those should be ignored then I can remove the commit for that.

Each commit refers to a different set of root directories (e

[2021-01-07 13:51] dan2k3k4 commented on #2139
We may need to also update [Pygmy](https://github.com/amazeeio/pygmy) to use `main` branch as default, if so, we will need to update all of the links to the current documentation for Pygmy which is https://pygmy.readthedocs.io/

[2021-01-07 18:54] twardnw commented on #257
Since we already have python in the build images, https://github.com/23andMe/Yamale looks like it would be a good solution

[2021-01-08 02:55] smlx commented on #257
yup for the record yamale is also the tool used by helm for yaml linting/validation

[2021-01-12 04:05] shreddedbacon opened #2450 "Update makefile to use amazeeio/charts where possible"
We have `amazeeio/charts` repo now which contains
* DBaaS operator
* Dioscuri

The makefile needs to be updated to reference the `amazeeio/charts` repository where possible, and avoid using the ones in the projects repository directly as these will be deprecated.

[2021-01-12 17:13] rocketeerbkw opened #2451 "Allow historical storage data to be recorded for environments"
Currently the `addOrUpdateEnvironmentStorage` mutation only accepts the storage data to record, and it hardcodes the date to be the time of submission. When moving projects between clusters, we need a way to move historical storage data also.

Two possible solutions:
1. Update the existing mutation to accept a date (it can be optional for backwards compatibility)
2. Add a new mutation specifically

[2021-01-13 14:48] mxr576 commented on #133
up :)

Edit: Maybe Acquia's solution can be used for inspiration: https://support.acquia.com/hc/en-us/articles/360047440074-Creating-releases-and-deploying-code-on-Acquia-Cloud

[2021-01-13 16:57] dan2k3k4 commented on #1469
In #2453, I added the title `Login Required` so it would look like this instead:

![image](https://user-images.githubusercontent.com/158704/104483790-cd3bca80-55c8-11eb-987d-8821bf17bd7c.png)

[2021-01-14 06:13] smlx opened #2454 "Race condition during database restore"
# Describe the bug

https://github.com/amazeeio/lagoon/pull/2149 split the default `mysqldump` backup into two stages to facilitate selectively ignoring the data of particular tables (in this case, `watchdog`).

This widens the window of time between `CREATE` and `INSERT` during restore, which also widens the window for something else to write to the table after the `CREATE`, but before the `INSER

[2021-01-14 20:13] rocketeerbkw commented on #574
You can get around this issue for the moment by sourcing `.bashrc` as part of the task, e.g.

[code]

[2021-01-14 20:49] dan2k3k4 commented on #1687
Rough idea?

![image](https://user-images.githubusercontent.com/158704/104647348-02701780-56b2-11eb-95e7-5657db170df5.png)

We'll need to use [prefers-color-scheme](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme).

We _could_ potentially migrate to [TailwindCSS](https://tailwindcss.com) and use the [dark-mode](https://tailwindcss.com/docs/dark-mode) setup they have?

[2021-01-14 21:09] dan2k3k4 commented on #2040
The above PR #2456 tries to address the issue for the UI but not for the messages sent in logs or Slack.

I am not certain of the Gitlab URL. I currently just replace `tree/` with `pull/` and remove the `pr-` if it's not a `branch` environment.

[2021-01-14 22:02] ivangrynenko commented on #2454
@smlx
Few notes to your comments:
1. The watchdog is always disabled in the affected services.
2. The exact line and character position will always be the same when the MySQL import is reinstated and database cleaned (drush sql-drop).
3. Database is emptied before attempting a restoration (drush sql-drop).

I suspect the problem is happening during mysqldump, when a data is getting written into no

[2021-01-15 02:42] smlx commented on #2454
not for all Lagoon users ;-)

I don't think that is the problem because [we use](https://github.com/amazeeio/lagoon/blob/master/images/oc-build-deploy-dind/openshift-templates/mariadb-dbaas/prebackuppod.yml#L66) `--single-transaction`. I also inspected the dump which caused the error you saw, and it was valid.

Yes, this is the race condition during restore:

1. Restore does `CREATE TABLE ...`
2.

[2021-01-15 09:12] smlx opened #2458 "docker-host cgroups v2 incompatiblity"
# Describe the bug

Lagoon's `docker-host` is incompatible with docker using cgroups v2.

## To Reproduce

Steps to reproduce the behavior:

1. Upgrade to docker 20.10.2 on Linux.
2. Ensure that it is using cgroups v2 by running `docker info` and looking for:
[code]
3. Run the Lagoon test suite.
4. See error during image build:

[code]

You can also minimally get the error by executing this comman

[2021-01-15 09:22] #2147 closed, assigned to nobody

[2021-01-15 09:25] tobybellwood commented on #2458
The only reason the image was pinned was because alpine 3.11 - I've no issues with moving it forwards - will have a look next week!

[2021-01-15 23:35] seanhamlin opened #2461 "Slashes and Fullstops in branch names confuse Lagoon's production branch detection"
# Describe the bug

If you have branch name with 'special' characters in them, e.g.:

* `9.x`
* `feature/main`

If you set the `production` branch to be the exact same name as the branch, you will get a non-production environment, as Lagoon appears to be doing normalisation on the name prior to matching the branch name.

## To Reproduce

Steps to reproduce the behavior:

1. Create a new project wi

[2021-01-16 13:33] smlx commented on #2461
duplicate of https://github.com/amazeeio/lagoon/issues/2322 I believe

[2021-01-16 15:04] bryangruneberg opened #2462 "There is no test coverage for cronjobs that use the cronjob.sh"
Through the related issue on the lagoon images repo (https://github.com/uselagoon/lagoon-images/issues/64) we found that there was no test coverage to test changes to the code to fix cronjobs that start with the command "cd" tha tare run in containers (so outside of the main cli container)

[2021-01-18 00:39] seanhamlin commented on #2461
Yes, it looks like it for sure. I searched for an existing issue, and did not find anything at the time.

[2021-01-18 00:46] nicksantamaria commented on #133
Any thoughts on where this fits on the roadmap?

[2021-01-18 06:34] tobybellwood commented on #1270
With the release of alpine 3.13 - the need to move away from node:10 based images has increased.  Technically the Alpine 3.11 EOL is 2021-11-01 - but the upstream node 10 images are in maintenance only until 2021-05-01

[2021-01-18 21:52] dan2k3k4 commented on #2090
What do you need from the top of the page @vincenzodnp?

What if we used a fixed header or moved some things to a sidebar that's always visible?

![fixed-header](https://user-images.githubusercontent.com/158704/104963632-40837900-59db-11eb-84a1-5fb0e02eaca3.gif)

![scroll-window](https://user-images.githubusercontent.com/158704/104965839-d91bf800-59df-11eb-8789-4a3cad5a1547.gif)

[2021-01-18 21:58] dan2k3k4 commented on #1270
I think we could aim to do a first pass of replacing the instances of `mariasql` with `mariadb` along with the required API changes. Then we could look into refactoring out a better solution or do a complete rewrite?

[2021-01-18 23:02] rocketeerbkw opened #2463 "Allow setting the created date for environments"
In order for billing data to be calculated correctly, we need to be able to set the `created` date for moved environments.

[2021-01-19 00:29] dan2k3k4 commented on #1717
Github uses the new way to output:
![github-ssh-key-manage](https://user-images.githubusercontent.com/158704/104973590-6c135d00-59f5-11eb-9154-5333b235554d.png)

It looks like this was already fixed in #2125, as currently we have:
![lagoon-admin-ui-ssh-key-manage](https://user-images.githubusercontent.com/158704/104973658-a41aa000-59f5-11eb-9179-2629240cf21f.png)

For information, we currently use

[2021-01-19 02:03] smlx commented on #2310
Relatedly it appears Lagoon can also create invalid openshift routes for the same reason - names over 63 chars in `spec.host`.

[2021-01-19 06:32] smlx commented on #2458
I tried bumping the base image of Lagoon's `docker-host` to use `docker:20-dind` and it _did_ fix the issue!

However.

I then hit [a bug](https://github.com/containerd/containerd/issues/4837) in `containerd` which is [fixed in git](https://github.com/containerd/containerd/pull/4845) but hasn't made it into a `containerd` release yet, much less a `kind` node image release. :cry:

Unfortunately I t

[2021-01-19 06:36] smlx commented on #2458
This potentially has implications on bumping the `docker-host` version in general since we need to ensure that the k8s cluster `docker-host` runs on isn't affected by that containerd bug.

[2021-01-20 03:04] nicksantamaria commented on #2392
Perhaps this should be configurable in .lagoon.yml as it will be highly dependent on how heavy an application is.

[2021-01-20 08:52] rodrigoaguilera commented on #618
I am not familiar with what an "alert" would mean. Would it be possible to add the ability to notify on slack when a cronjob returns a non-zero exit code with this feature?

[2021-01-20 21:14] rocketeerbkw opened #2469 "A failed backup retrieve leaves the user with no options"
# Describe the bug

When using the UI/API to restore a backup for an environment, and the restore fails for some reason, there appears to be no way to recover from this situtation.

The UI doesn't allow the user to trigger a new restore, and the API returns an error if you try to trigger a new restore.

We also save any kind of failure reason to help debug (not sure if this is even available thoug

[2021-01-21 23:04] seanhamlin commented on #911
Having the API (via GraphQL) logged in an audit trail would be great. In this particular case, we wanted to work out who deleted an environment variable in the API.

[2021-01-22 04:31] tobybellwood opened #2471 "Implement autoscaling/autoidling on Kubernetes"
In Kubernetes, Lagoon should be able to idle non-production environments (to zero) after a defined period of inactivity, and re-activating them on a subsequent visit (or deploy).

Potential options for consideration:
[Keda](https://keda.sh/)
[Osiris](https://github.com/deislabs/osiris)
Implement a service tailor-made to handle reading ingress requests and handling intermediate state.

[2021-01-22 06:32] smlx commented on #2471
See also discussion here https://github.com/kedacore/keda/issues/538

[2021-01-22 23:02] cdchris12 opened #2476 "Allow for configuration of BaaS S3 bucket settings"
Lagoon should be able to configure the settings of any BaaS S3 buckets in order to enable, at the least, encryption at rest and blocking public access by default. These buckets are now automatically created by Restic, which does provide this functionality by way of its built in encryption and a set of ACLs for the created bucket, but, we need to utilize this functionality at the S3 level as well.

[2021-01-24 23:54] shreddedbacon commented on #2335
The first part of this is merged in #2457

The lagoon-builddeploy controller has had the addition merged https://github.com/amazeeio/lagoon-kbd/pull/32, but hasn't been released yet.

[2021-01-25 11:33] vincenzodnp commented on #1709
@rocketeerbkw @Schnitzel any new about this request?
At the moment, the only way to gather user's info is by ssh key (isn't it?).

[2021-01-25 12:48] Schnitzel commented on #1709
@vincenzodnp
currently you cannot search for users via email addresses via the graphql api, but this should be an admin only action anyway (privacy and security), if you need it for a one time search (and not via an automated system that needs an API), you can search for email adresses directly in the keycloak UI.
can you elaborate why this feature is important? you mention "might be worth to have

[2021-01-25 16:47] vincenzodnp commented on #1709
I agree is not urgent but it's a bit annoying to search for user's info in Keycloak UI or via lagoon cli.
ATM, when I have to check for user's attributes like groups the user belongs to, I get the key via lagoon cli and then I run the `userBySshKey` GraphQL query.

[2021-01-26 01:40] bomoko opened #2483 "Types for Facts"
It would be useful to introduce typing for Facts.

This would help to determine (at least) how they should be displayed, but looking further down the line, introducing types to facts will greatly improve our ability to search and compare.

For example, we may wish to have a "URL" type for facts that puts a link in the facts listing page, enabling a user to directly visit a page associated with an

[2021-01-26 13:01] dasrecht opened #2485 "DBaaS Timeout SERVICE_BROKER_COUNTER is not triggered"
# Describe the bug

If the DBaaS Service does not provision a service the deployment is running indefinitely

https://github.com/amazeeio/lagoon/blob/main/images/kubectl-build-deploy-dind/scripts/exec-kubectl-mariadb-dbaas.sh#L10-L13

[code]

SERVICE_BROKER_COUNTER is increased but OPERATOR_COUNTER is used in the if statement leading to the condition never reaching the else portion

A clear and co

[2021-01-27 04:31] tobybellwood commented on #2471
on conversation with @shreddedbacon - we could implement a controller in our clusters that can be configured to monitor a status (from ElasticSearch, uptime or Prometheus) and potentially scale down a deployment to zero (saving previous replica spec) after a configurable time expiration.  This controller would check the services in each individual environment for a custom resource to define it's i

[2021-01-28 00:02] twardnw opened #2488 "Replace ICM annotations with new CRD"
https://github.com/stakater/IngressMonitorController#add-endpointmonitor

[2021-01-29 21:13] rocketeerbkw commented on #1270
In addition to not working on supported versions of node, it looks like our api is crashing a lot due to https://github.com/mscdex/node-mariasql/issues/73

[2021-02-03 09:13] fjgarlin commented on #1124
Had the same problem as well on a project and the solution is the `--root` argument for now.

[2021-02-03 10:32] fjgarlin commented on #1124
Is there a plan to roll out a fix for this? We've scanned our projects and have +50 using `drush cron` without the root parametre.

[2021-02-03 11:59] timclifford opened #2489 "UI: Provide extra filters to problems tab on environments"
There have been many requests to improve the current filtering of problem results inside the 'Problem' tab on an environment.

Some additional filtering options such as by severity, source and service would be ideal so we can better display available results.

![image](https://user-images.githubusercontent.com/2339381/106744047-1b1b7f80-6617-11eb-8894-0d0fa7697d74.png)

[2021-02-04 05:33] tobybellwood opened #2491 "api-data-watcher-pusher always runs clear-api-data on k8s container startup"
Ordinarily, the api-data-watcher-pusher should only empty and refill the database on an update to the underlying graphql files (previously whilst under live development)

https://github.com/amazeeio/lagoon/blob/main/local-dev/api-data-watcher-pusher/api-watch-push.sh#L27

However, this process always runs on container start under kubernetes, which can be annoying if you've also added local project

[2021-02-04 23:56] tobybellwood commented on #1124
ok - on discovery, let's look at finding why the cronjobs don't respect the WORKDIR settings.  There's _all sorts_ of drush 8/9/10 inter-relation issues that would be more easily solved by running from the correct directory!

[2021-02-05 05:27] smlx commented on #1124
Could the fix for this issue just be documentation?

[2021-02-05 06:26] smlx commented on #564
@tobybellwood is this issue complete?

[2021-02-05 06:28] smlx commented on #2078
@tobybellwood this is fixed I think?

[2021-02-05 06:31] smlx commented on #1124
There's some logic here for finding the drush root, could it be tweaked to fall back on `/app` if running in Lagoon?
https://github.com/amazeeio/lagoon/blob/master/services/drush-alias/web/aliases.drushrc.php.stub#L39-L53

This is linked from https://github.com/amazeeio/lagoon/issues/485, which this issue appears to be a duplicate of.

[2021-02-05 07:40] tobybellwood commented on #1124
(one of) the issues here is that you can't pass a `root` to rush launcher - which is the element that intercepts the drush call.  Outside of an actual root, it hunts around for an install.  It defaults to the drush 8 installed globally, but it then gets tangled when it comes across drush9/10 isms inside the /app/web folders.

The drush launcher itself never checks the drush config (drushrc.php, or

[2021-02-05 07:40] tobybellwood commented on #2078
Yes, I think so

[2021-02-05 07:40] #2078 closed, assigned to rocketeerbkw

[2021-02-05 07:41] tobybellwood commented on #564
yup - k8s has superseded this

[2021-02-05 07:41] #564 closed, assigned to nobody

[2021-02-05 09:59] smlx commented on #1124
It is set here: https://github.com/webdevops/go-crond/blob/master/main.go#L438-L442

The main problem in this issue seems to be the disconnect between `drush cron`, which drupal developers expect to just work, and actual unix cron, where the rule has always been to either `cd ... && command`, or use absolute paths.

BTW @dasrecht `cd /app && ...` works here, I'm not sure why it broke for you?

Cou

[2021-02-05 13:38] Schnitzel commented on #1124
oh wow nice find @smlx
we always tried to find the issue in the entrypoints or in kubernetes, but not that actually `go-crond` would change the directory...

so the problem is that depending on how often the cronjob runs it runs in another enviornments:
- less often than 15min it runs in a Kubernetes `CronJob` object which runs the cronjob defined in `WORKDIR` of the Dockerfile
- more often than 1

[2021-02-08 23:39] seanhamlin commented on #2310
Just encountered this on Native Kubernetes, the `CN` was 66 characters log, and the error was

[code]

Adding another (made up) domain to the `ingress` object that was shorter fixed all the things and allowed the certificate to be created.

The ideal solution IMO here is for Lagoon to recognise that the domain is > 63 characters long, and if so, truncate/hash/pick letters from the project and bran

[2021-02-10 12:40] shreddedbacon opened #2499 "Migrating from ASB to DBaaS issues"
When performing a migration from the ansible service broker in openshift, to the mariadb consumer resource for the dbaas-operator, there are some issues encountered that could cause a lot of issues.

Manually creating the mariadbconsumer resource works fine. But at the first deployment lagoon in openshift does an `oc process`, then `oc apply` of a template, and this overwrites what was manually cr

[2021-02-10 22:42] thom8 commented on #2159
Moved to lagoon images repo -- https://github.com/uselagoon/lagoon-images/issues/95

[2021-02-10 22:42] #2159 closed, assigned to nobody

[2021-02-11 01:09] tobybellwood opened #2501 "Lagoon add-user should trigger password reset request from Keycloak"
Currently, a new user created in Lagoon is created without a valid password, and manual intervention is required to trigger a password reset email.

This should be automated as part of the addUser routine (unless the user is authed externally, and synced into Lagoon?) (https://github.com/amazeeio/lagoon/blob/main/services/api/src/models/user.ts#L274-L305)

I _think_ the keycloak API/client can tri

[2021-02-11 18:20] cdchris12 opened #2505 "Build/deploy controller cannot handle missing build pods"
# Describe the bug

For a build started by Lagoon's build/deploy controller, if the build pod is deleted directly on the k8s cluster, that build will run indefinitely. Attempts to cancel the build after removing the build pod will result in an error within the controller stating that it cannot find the specified build pod.

## To Reproduce

Steps to reproduce the behavior:

1. Start a build on a c

[2021-02-11 23:35] jaimed-amazee opened #2507 "Links to logs and routes not showing up in Slack CI integration"
# Describe the bug

The Slack CI integration is no longer displaying links to logs and routes on successful deploy complete messages.  The links are visible on the RocketChat integration.

## To Reproduce

Steps to reproduce the behavior:

1.  Start a new build on a project that has notifications going to a Slack channel
2. Once the build completes, there should be a messages stating that the buil

[2021-02-12 20:25] cdchris12 commented on #2505
Looks like this is a duplicate of https://github.com/amazeeio/lagoon-kbd/pull/34

[2021-02-12 20:25] #2505 closed, assigned to nobody

[2021-02-15 10:54] dasrecht opened #2511 "Deploy Messages miss the Ingress URLS and the link to the Logs"
# Describe the bug

The `openshiftbuilddeploymonitor` service put the Log Link as well as the Ingress URLs into a successful Deploy Message. Currently the `builddeploymonitor` seems not to do this towards Slack (but for Rocketchat).
## Expected behavior

Messages on all notification streams include the link to the deploy logs as well as the ingress URLs

## Screenshots

![Bildschirmfoto 2021-02-15

[2021-02-16 05:51] smlx opened #2513 "Ellipsis character in PR title breaks deploy"
# Describe the bug

An ellipsis character (`…`) in the title of a PR breaks deploy with this error:
[code]

Taking a look at the configmap I see that the only field with weird characters is `LAGOON_PR_TITLE`.

Here's an edited snippet - there are unprintable characters in the field which don't show up here:

[code]

Running the raw value through [FTFY](https://ftfy.now.sh/?s=enable+autom%C3%83%C2%

[2021-02-16 06:52] smlx commented on #2513
A workaround appears to be to edit the PR title in Github. This will send a webhook to Lagoon which will update the title in the Lagoon API.

[2021-02-18 02:11] bryangruneberg commented on #2103
+1 on this issue - to enable owners / maintainers to be more independent, this is a blocker for new project setup

[2021-02-18 17:37] bryangruneberg commented on #1443
@tobybellwood @seanhamlin - I'm kinda surprised that this issue hasn't caused more problems for users with production environments 🤔

Its a bit of a blocker for the Gatsby prototype I'm working on. I need to detect if I'm in a production environment to change what Gatsby does in runtime. I can work around it with checking the environment name, but that's not a great generalized solution.

I'd be u

[2021-02-18 20:20] Schnitzel commented on #2499
how do we create the `mariadbconsumer` resource during the migration? I could imagine that it is not created via `kubectl apply` and therefore the `kubectl.kubernetes.io/last-applied-configuration` is not existing, so the next time that lagoon adds the `mariadbconsumer` resource via `kubectl apply` the kubectl has no idea which fields have been added before and which not, so it overwrites the comp

[2021-02-18 20:34] shreddedbacon commented on #2499
I tried to do it the following ways, and both result in the resource being overwritten by lagoon and the dbaas attempting to provision a new database for the namespace.

1) straight up oc apply the full crd with all the information required
[code]

2) doing it a similar way to how lagoon does it using oc process of a template
[code]

I still think #2502 should be merged, because there isn't really

[2021-02-19 06:39] ocean opened #2521 "Request for cross built linux/arm64 versions of Lagoon containers"
I'm on a new "Apple Silicon" M1 MacBook Pro, which in theory can run `amd64` containers in emulation, but it doesn't seem to work. `linux/arm64` containers run fine, and there are already a lot of `linux/arm64` containers on Docker Hub.

As more and more developers move to the new Apple Silicon, this will affect more and more people.

Docker "buildx" command allows for cross-platform building, I'l

[2021-02-19 07:32] tobybellwood commented on #2521
Hi @ocean - thanks for being keen!  We've only taken a cursory glance at ARM at this stage.  We do intend to pursue multi-arch images (https://github.com/uselagoon/lagoon-images/issues/88) - the difficulty is with keeping local and production the same - what works for ARM may not work for AMD64 etc - so you'd have to be careful of any divergence.

Head over to the https://github.com/uselagoon/lago

[2021-02-19 08:13] ocean commented on #2521
Thanks @tobybellwood, thanks very much for the link to `uselagoon` image repo! 🎉  Can't believe I didn't find that one from the Hub org name 😁  I'll dive into it now.

I do agree the divergence between architecture versions may become an issue over time, though hopefully there's a way to handle that - I'm thinking conditionals etc, and I think Alpine is at least a great "bottom layer".

[2021-02-19 08:35] tobybellwood commented on #2521
Yeah - we've already had to look at a couple of dockerfile changes to support different upstreams for a couple of images that will have to be Debian-based going forwards - https://github.com/uselagoon/lagoon-images/blob/testing/upstream_solr_7_8/images/solr/7.Dockerfile#L31-L38

[2021-02-19 09:08] smlx commented on #863
This was fixed in 69aff04ffa15f851fd7ac5bebb4ca97f5de8673e.

[2021-02-19 09:08] #863 closed, assigned to nobody

[2021-02-19 23:29] #1124 closed, assigned to nobody

[2021-02-21 21:20] seanhamlin commented on #1443
Looks like https://github.com/amazeeio/lagoon/commit/3d9d0cfcdef33297169db5107a9a6ce4116fb5a5 fixes this?

[2021-02-21 21:31] tobybellwood commented on #1443
yup - fixed in https://github.com/amazeeio/lagoon/pull/2518

[2021-02-21 21:31] #1443 closed, assigned to nobody

[2021-02-22 06:15] tobybellwood opened #2525 "Create new lagoon type "worker" for long operating processes"
Currently, Lagoon projects that have long running (non-web) processes use the `cli` Lagoon type to run these processes in.  This is not optimal, as the cli type should be reserved for short-running, instant spin-up type uses.

We are proposing to add an additional type `worker` and corresponding `worker-persistent` type to Lagoon.  The main aim of these types is to accommodate projects that have l

[2021-02-22 08:08] ocean commented on #2521
Interesting. I just discovered MongoDB isn't available on Alpine Linux past version 3.9, so I assume you'd be looking at moving that image to Debian as well maybe?

[2021-02-22 08:17] tobybellwood commented on #2521
MongoDB isn't available past 4.02 in Alpine 3.9 because of SSPL issues more likely.  The only upstream MongoDB supported images are Ubuntu.  We're currently looking at this (and some others) - noting that the infrastructure MongoDB providers only commonly support 3.6 still...

[2021-02-22 08:27] ocean commented on #2521
Yep, it is unavailable in Alpine because of licensing issues.

[2021-02-22 23:45] seanhamlin opened #2528 "Support ClamAV as a Service Type"
A lot of customers require the use of ClamAV within their cluster. This is better to be run as a dedicated service over TCP/IP then building into the `Nginx/PHP` images (in executable mode).

Advantages of running a single service in the cluster:

* Only a single virus database to update (with FreshClam)
* Consumes less resources overall (only 1 deployment in the cluster)
* TCP/IP scanning is much

[2021-02-23 00:16] shreddedbacon commented on #2525
Would be cool to be able to also have this be extendable with a custom port

[code]
And these would be injected into the template with conditions for the `port` and direct for the probes.
This would give some flexibility to the worker type then to be a little bit more generic.

For the probe overrides, it would probably be good to have some sane maximums.

This could also then possibly be used for

[2021-02-23 00:36] tobybellwood commented on #2525
I agree - having a configurable internal port (still no ingress) would make it ultimately more configurable.

[2021-02-23 00:50] tobybellwood commented on #2528
I think this can be considered in two parts:

* Creation of a standard, optimized ClamAV image for use in Lagoon
* Creation of a helm chart with the correct configurations for running in a lagoon-remote installation

[2021-02-23 01:25] steveworley opened #2530 "Ability to customise service type liveness/readiness probes"
Liveness/readiness are hardcoded to services types defined in docker compose eg.

- using `lagoon.type: node` uses [TCP/3000](https://github.com/amazeeio/lagoon/blob/main/images/kubectl-build-deploy-dind/helmcharts/node/templates/deployment.yaml#L41-L50)
- using `lagoon.type: nginx-php` uses TCP/9000

It would be helpful if we could define/extend health checks to assess domain specific services (e

[2021-02-23 02:56] seanhamlin commented on #2530
Potentially related https://github.com/amazeeio/lagoon/issues/2525#issuecomment-783772941

[2021-02-23 04:05] Schnitzel commented on #2528
yea, for me clamav doesn't belong into lagoon, this should be deployed as a cluster level tool via helm.
Deploying it via lagoon doesn't really have any advantages and its also not a web-application like everything else in Lagoon.

Therefore to not add too many complicated things I would suggest to just deploy this via helm into the cluster and not worry about it in lagoon.

[2021-02-23 04:11] Schnitzel commented on #2525
mhh how about we make it completely customizable and allow developers to inject helm variables via Lagoon?
For me this has the following advantages:
- solve all possible cases where we need to change something in the charts, not just the port number and livensss probes.
- engineers don't need to learn a new yaml structure, they already know the helm/k8s structure and can use it
- we're not adding

[2021-02-23 04:26] smlx commented on #2525
@Schnitzel if the variables didn't live in `docker-compose.yml`, where would developers set them?

[2021-02-23 04:37] tobybellwood commented on #2525
Could this be applied to all helmcharts and not just this specific one?

The purpose of this chart is to define an always-running non-ingress type, instead of abusing the cli type - making this chart too flexible would leave it open to misuse as well!

[2021-02-23 06:43] smlx opened #2533 "EOL kubectl version"
# Describe the bug

The `kubectl` image uses version 1.16, which is EOL.

This seems to be causing [CI breakage](https://github.com/uselagoon/lagoon-charts/pull/226/checks?check_run_id=1958635900) like this:
[code]

`kubectl` 1.20 introduced [this change](https://kubernetes.io/docs/setup/release/notes/):

Lagoon uses the `networking.k8s.io/v1` API. So upgrading `kubectl` might fix this problem. I

[2021-02-23 09:26] #2533 closed, assigned to nobody

[2021-02-23 20:49] bryangruneberg opened #2537 "Stream deployment logs to the cli"
When a deployment is running, it would be great to be able to "tail" the progress using the lagoon cli tool

[2021-02-23 21:14] Schnitzel commented on #2537
there is also https://github.com/amazeeio/lagoon/issues/307 which probably would also cover the cli? :)

[2021-02-24 04:25] #2393 closed, assigned to smlx

[2021-02-25 01:00] #2310 closed, assigned to smlx

[2021-02-25 01:20] #1589 closed, assigned to twardnw, smlx

[2021-02-26 01:06] #2489 closed, assigned to timclifford

[2021-02-26 18:08] jaimed-amazee opened #2547 "Delete Project graphql query character mismatch"
# Describe the bug

The character limit for project name in the delete project mutation is 50 chars, but the table has a limit of 100 chars.  As a result, projects with names longer than 50 chars are being created, but unable to be deleted.

## To Reproduce

Steps to reproduce the behavior:

1. Create a project with a name with more than 50 chars
2. Attempt to delete the project using graphql dele

[2021-03-02 21:49] dasrecht opened #2550 "Long Ingress URLs (53+ chars) fail builds"
# Describe the bug

This is a helm template related limitation with super long DNS names - https://github.com/helm/helm/issues/6006

## To Reproduce

Steps to reproduce the behavior:

1. create a superlong (53 chars+) ingress URL in .lagoon.yml
2. deploy
3. see deployment fail :)

## Expected behavior

Lagoon would try to get around this issue or fail more gracefully - as this was possible under O

[2021-03-02 22:14] seanhamlin opened #2551 "Invalid YAML in pvc annotations"
# Describe the bug

The YAML generated by Helm is invalid for `pvc` in the `nginx-php-persistent` template

[code]

Notice the double `annotations` key.

## To Reproduce

Do a deploy, notice the the YAML is not valid.

## Expected behavior

Valid YAML being generated by Helm

[2021-03-02 22:53] Schnitzel commented on #2551
what's not valid on it? http://www.yamllint.com/ and https://codebeautify.org/yaml-validator both say it's valid yaml.

creating an object with it works:

[code]

[2021-03-03 02:24] seanhamlin commented on #2551
The [linter](http://www.yamllint.com/) you mentioned, says it is valid, but it also has changed the format of the result

[code]

Notice the single `annotations` key now? Perhaps it is ignoring one of the keys.

from the spec https://yaml.org/spec/1.2/spec.html

Also https://yaml.org/spec/1.2/spec.html#id2764044

The fix seems simply enough too.

[2021-03-03 05:43] smlx commented on #2551
I think those validators just aren't very good. [`yamllint`](https://github.com/adrienverge/yamllint) says it's invalid:
[code]

There's also this kubernetes bug, which seems to say that repeated keys will eventually warn: https://github.com/kubernetes/kubernetes/issues/14791

[2021-03-03 23:36] dasrecht commented on #2550
Closing in favour of #2379

[2021-03-03 23:36] #2550 closed, assigned to nobody

[2021-03-04 01:24] shreddedbacon opened #2554 "Standby production environment won't deploy if environment limit is met"
# Describe the bug

Standby production environment won't deploy if environment limit is met

## To Reproduce

Steps to reproduce the behavior:

1. Set environment limit to 1
2. Deploy production environment
3. Deploy standby production environment
4. Deploy 1 development environments
5. See limit is 1/1
6. Deploy standby production environment
7. See that no deployment is triggered

## Expected be

[2021-03-04 01:25] shreddedbacon commented on #2554
Work around is to temporarily increase the environment limit by 1, or delete an unused development environment

[2021-03-04 09:00] ocean commented on #2521
@tobybellwood So, it was a heck of an adventure, but I got a functioning, minimalist stack of Lagoon + GovCMS containers running on my Apple M1 MBP! 🎉  🎉

I'll put in some PRs where I can, and am really wanting to contribute as much as possible back, but in summary quite a lot of it was rebuilding some of the many small tools (mostly Go ones) to run on `linux/arm64`, and then using Docker Moby Bui

[2021-03-05 06:12] smlx opened #2555 "Monitoring cannot be disabled for ingresses on kubernetes"
# Describe the bug

For a new site being developed on Lagoon, sometimes DNS is not set up yet. That means that monitoring will fail for any custom domains added to the site.

## To Reproduce

1. Deploy a site on Lagoon k8s with a domain that you own, but have not set up any A/AAAA records for.
2. Monitoring is configured but fails immediately

## Expected behavior

Maybe monitoring should be confi

[2021-03-05 08:50] seanhamlin opened #2556 "Lagoon API for Environment Variables should allow upsert (insert or update)"
The current API for environment variables is sub-optimal, if you are looking to ensure a variable matches a particular value.

## Current process

1. Get the value (for comparison)
2. If the value exists, and is wrong, delete it
3. Insert the new value

This is a rather long process to do, to just set an environment variable.

## Compounding factors

There is a large customer in region that synchr

[2021-03-05 08:56] tobybellwood commented on #2556
duplicate of https://github.com/amazeeio/lagoon/issues/1677

There is currently more work on how to manage variables (esp deleted ones) over at https://github.com/amazeeio/lagoon/pull/2348 - we will evaluate whether there is a solution for this here.

[2021-03-11 03:26] nicksantamaria commented on #2177
Adding my vote for a solution along these lines. Our team is often frustrated by how long it takes to establish a ssh connection, and the latency involved with the Australia -> Switzerland -> Australia round trip.

[2021-03-11 03:33] nicksantamaria commented on #307
Adding my +1 for this feature. Currently the situation for external and unprivileged developers is they have to wait for a build to finish before they can review what is happening.

[2021-03-12 01:27] shreddedbacon opened #2568 "API updates not happening when environments with special characters complete."
# Describe the bug

There is currently an issue where if an environment that has special characters in it, eg `/`, are handled by the controller.

Currently Lagoon will make safe (dns compliant) environment names before sending to the controller. This is fine, but any time an update or entry is returned to Lagoon to be handled by the controllerhandler, the API check for the environment fails as la

[2021-03-12 01:31] shreddedbacon commented on #2568
Just adding this to make sure the issue was known and that #2565 is raised is to fix this issue specifically

It does **NOT** attempt to solve #2322

[2021-03-16 05:37] smlx opened #2573 "Prefixing services as subdomains breaks Oauth2 authentication to environments"
# Describe the bug

Situation: A web developer uses Oauth2 for authentication to their PR environments.

Oauth2 generally is quite strict about limiting redirect URIs to be absolute. The reasons behind this are described in the [Oauth2 threat model RFC](https://tools.ietf.org/html/rfc6819#section-5.2.3.5).

However some Oauth2 providers such as auth0 do allow limited [wildcards for subdomains](htt

[2021-03-16 08:57] tobybellwood opened #2576 "Harbor V2 API not compatible with Problems Webhook configuration"
There's a number of minor changes in the Harbor v2.0 API that break our integration with the webhooks to retrieve problems.

It shouldn't require much effort.  From what I've found so far:

* `scanningCompleted` has become `SCANNING_COMPLETED` (and likewise failed) when setting up a webhook policy or receiving a webhook
* the endpoint to retrieve a scan has changed from a `/repositories` starting

[2021-03-16 17:19] bomoko commented on #2576
@tobybellwood from the problems webhook perspective, supporting both should be fairly trivial, since _almost_ everything we need to change is localized in a single place - namely, https://github.com/amazeeio/lagoon/blob/main/services/webhooks2tasks/src/handlers/problems/harborScanningCompleted.ts
If all the incoming scan data is transformed at this point, regardless of where that data comes from,

[2021-03-16 18:56] KorvinSzanto opened #2577 "API container sync:opendistro-security fails to create tenants"
# Description
Running `yarn sync:opendistro-security` in a running API container leads to a 400 bad request error when creating tenants:
[code]

This error [is thrown here](https://github.com/amazeeio/lagoon/blob/main/services/api/src/resources/group/opendistroSecurity.ts#L66) when opendistro-security api endpoints don't behave.

The reason this request is leading to a 400 is because it doesn't in

[2021-03-17 05:44] rocketeerbkw opened #2579 "Task files can have inconsistent state"
# Describe the bug

It is possible to execute a series of API queries that would leave the list of files for a task in a bad state. Specifically, I was able to get the API to return a files download link for a file that has been deleted from s3.

## To Reproduce

Steps to reproduce the behavior:

1. Get a local lagoon api running (no need to setup a full k8s)
2. Create a task and record the task i

[2021-03-17 09:08] tobybellwood commented on #2576
The API already has the ability to specify a Harbor API Version (via a variable) - so maybe we can use that for now and cover both?

[2021-03-17 22:18] Schnitzel commented on #667
we discussed that we will add HPAs to every production environments

[2021-03-17 22:19] Schnitzel commented on #2511
@shreddedbacon I think you looked at this already? How hard is this to fix?

[2021-03-17 22:30] shreddedbacon commented on #2511
I looked at it briefly. I think it is mainly because the logs2slack is looking for something that the other notification services don't use.

I'll have another look shortly and see if it will be a relatively simple fix.

[2021-03-17 22:49] BrianGilbert commented on #2511
![Station 2021-03-18 09-34-07](https://user-images.githubusercontent.com/114017/111548670-272a5d80-87cf-11eb-842b-1d8074b1ebec.png)

This is what we are getting using webhook with Discord, would also love for the routes to be echoed out in the success message, and logs link would be sublime too

[2021-03-18 01:53] shreddedbacon commented on #2511
This PR https://github.com/amazeeio/lagoon-kbd/pull/42 adds the support for slack messages that was missing.

I noted in that PR that the entire notification service needs to be re-written so that we have a more consistent messaging experience across all the notification services though.

[2021-03-22 06:39] chandanatk opened #2581 "Backups are missing the project name from the file"
Looks like some backups are missing the project name from the file.
https://ui-lagoon-master.ch.amazee.io/projects/content-countycourt/content-countycourt-pr-1796/tasks/7333
The filename is shown as "-pr-1796-2021-03-19T03:23:57+00:00.sql.gz"

[2021-03-30 17:45] xantrix opened #2588 "vm.max_map_count is too low error during elasticsearch deploy"
Deploy an elasticsearch service in a k8s cluster brings to the following well-known error

[code]
https://www.elastic.co/guide/en/elasticsearch/reference/current/vm-max-map-count.html

[2021-04-01 15:04] luigimannoni commented on #307
Also +1 from our side.
Wish I had a streaming log today, very looking forward into that for time-critical deployments.

[2021-04-01 15:20] luigimannoni commented on #1082
Adding a +1 on the request.
We're looking to cut down extra steps from our build process and looking to analyse which ones can be optimised.

It's a bit difficult now without filling `.lagoon.yml` and `Dockerfile`s with date/time commands and rightly getting shouted at from the colleagues :grimacing:

[2021-04-02 05:08] bomoko commented on #1811
@shreddedbacon - I've written up a first version of this that works basically how you describe in your first comment. I see us needing this more and more, so I thought that maybe one that we can simply use like notifications would be good _for now_.

You set it up like any other notification, and it'll post stuff as below.

![image](https://user-images.githubusercontent.com/297936/113382573-4e437a

[2021-04-08 22:01] seanhamlin opened #2595 "Lagoon UI: Add pagination to the backup list"
At the moment, for projects that have existed for a long time, it is not uncommon to have many hundreds, if not thousands of backups to be listed on the environment backup page. Here is an example of a project with a lot of backups:

[code]

I would say the 99% use case is to get a recent backup, and not to scroll down the page and hunt for the backup.

## Feature request

Can we add pagination to

[2021-04-09 05:47] #2328 closed, assigned to nobody

[2021-04-09 06:55] #1433 closed, assigned to nobody

[2021-04-09 15:23] janmashat opened #2597 "Add group role with access to only non-prod envs/data"
Problem: currently there's no role with access to non-prod envs while denying access to prod data, because even though Developers aren't allowed to access PROD envs, they can retrieve PROD data via the taskDrush[Sql|R]Sync:source:production actions.

Proposed solution: add another role (e.g. Consultant) with similar permissions as Developer, but deny access to taskDrush[Sql|R]Sync:source:productio

[2021-04-09 15:35] rocketeerbkw commented on #2139
We still have a `master` branch until we release lagoon 2 (on `main`) and the potential work for pygmy too, so reopening.

[2021-04-11 19:18] xantrix opened #2600 "AccessDeniedException: /var/solr/drupal"
# Describe the bug

After release [v1.14.3](https://github.com/amazeeio/lagoon/releases/tag/v1.14.3) and template update in #2566
Solr image is not able anymore to create the core directory in `/var/solr` (removed `fsGroup: 0` in pod `securityContext`)

## To Reproduce

Steps to reproduce the behavior:

1. create a test pod using a Solr image e.g. `uselagoon/solr-7.7-drupal `
`kubectl apply -f sol

[2021-04-11 19:22] xantrix commented on #2588
closed by #2589

[2021-04-11 19:22] #2588 closed, assigned to nobody

[2021-04-11 21:13] bomoko opened #2601 "Scheduled Harbor scans can overwhelm the API"
# Describe the bug

If a scheduled Harbor scan is run, hundreds of scanning completed messages hit Lagoon at once. These, in turn, generated hundreds of API calls, sometimes overwhelming the API itself.

## Expected behavior

Expected behaviour is that Lagoon should be able to handle these multiple requests without issue.

[2021-04-12 22:42] shreddedbacon opened #2606 "Split webhooks2tasks into two different services/queues"
Currently when backups and problems/facts data comes in via webhooks, it populates the main webhooks2tasks queue with non-time critical messages.

These additional messages can cause delays on time critical messages (deployments, user interactions, etc).

I propose splitting this into 2 queues, a fast and slow queue.
* Fast queue to be used for user interactions, or time critical messages
* Slow q

[2021-04-13 21:45] twardnw opened #2607 "extend activestandby taskimage to safely handle ingresses which have Fastly annotations"

[2021-04-13 23:48] shreddedbacon commented on #2607
Just for visibility.

The main thing that would need to be done is have the task search for this label on any ingress objects before it performs the creation of the `HostMigration` CRD.
[code]

Then check if the annotation `fastly.amazee.io/watch` exists (true and false, the label MUST exist, this is to cover anything that may be disabled for a reason).
If that annotation exists, then check the cu

[2021-04-13 23:49] shreddedbacon commented on #2607
~Theoretically, we could perform the entire migration inside of this task and remove the need for the `dioscuri` operator entirely...~
Edit: nope, the user that the task runs, has no permission to perform changes in the other namespace that it needs to do migrations with:
[code]

[2021-04-14 15:40] twardnw opened #2608 "prohibit renaming of projects"
Renaming a project results in various issues around a projects namespace pattern diverging and confusion for customers.

[2021-04-14 15:53] rocketeerbkw commented on #2608
Do you have more background on this? Making this change would, for example, block `os2k8s` working.

[2021-04-14 16:12] Schnitzel commented on #2608
I think the idea would be to allow renaming for platform-owners/admins but not for regular users

[2021-04-15 05:48] smlx commented on #2476
We could also probably use the AWS S3 controller: https://github.com/aws-controllers-k8s/s3-controller

[2021-04-15 10:39] vincenzodnp opened #2609 "Elasticsearch unable to start because of java.lang.IllegalStateException: Failed to create node environment"
# Describe the bug

Elasticsearch image is not able to create "node environment" in the mounted (persistent) `/usr/share/elasticsearch/data`
This is due to permission issues because of `fsGroup` (it was set to `0`)
The Java Exception is: ```java.lang.IllegalStateException: Failed to create node environment```

## To Reproduce

Steps to reproduce the behavior:

1. Create an Elasticsearch deployment

[2021-04-15 11:29] Schnitzel commented on #2609
@vincenzodnp
can you elaborate what you mean with "it was set to `0`"?
The elasticsearch `deployment.yaml` was added with no fsGroup setting from the very beginning, see https://github.com/amazeeio/lagoon/blame/e426942e825b5a03660f58520115ad77622866fc/images/kubectl-build-deploy-dind/helmcharts/elasticsearch/values.yaml

so I'm confused why this needs to be changed now? as it worked from february

[2021-04-15 14:59] dasrecht commented on #2609
Maybe this is something specific to GCP? as this happened when we tried to deploy things to GCP today

[2021-04-15 15:09] vincenzodnp commented on #2609
Here the change made by @shreddedbacon
https://github.com/amazeeio/lagoon/commit/1cba8021b176c37b5b0b0300affb0698301c6fcf#diff-287110c964bdfece67930f362083b08892c8a619c0a8e8611322b0e99e8b32c7
where he changed `fsGroup: 0` to `{{- toYaml .Values.podSecurityContext | nindent 8 }}`

[2021-04-15 23:30] Schnitzel commented on #2609
I did some more research on this, as I was confused why this has not been a problem earlier.

So turns out if you mount a NEW PVC into a container, without any `securityContext.fsGroup` settings in the Pod, this is how the PVC is mounted into the container:

[code]

see the `drwxr-xr-x` on the main folder, the container itself is running as user/group `root/root`, so technically it should have rit

[2021-04-16 05:10] shreddedbacon commented on #2607
Working on initial support in dioscuri for this here: https://github.com/amazeeio/dioscuri/pull/19

For now, the best thing would be to not do any annotation or labelling within cluster so that the ingress are not aware of the fastly-controller. So manually uploading certificates, and manually adding the domains to the required services.

[2021-04-20 01:02] tim-yao commented on #2511
Have same issue in DPC SDP slack. Look forward to a fix.

[2021-04-21 00:13] KorvinSzanto opened #2616 "Running `deleteAllProjects` resets the project table autoincrement leading to oddly linked data"
# Describe the bug
Running `deleteAllProjects` will reset the autoincrement ID, this wouldn't matter but there are orphaned resources left around when `deleteAllProjects` runs and so creating a new project with ID `1` leads to those orphaned resources being errantly linked with the new project.

## To Reproduce

Steps to reproduce the behavior:

1. Create a project with a "main" environment, deplo

[2021-04-21 00:32] KorvinSzanto commented on #2616
The two ways I see to avoid this are:
1. Use `delete from projects` instead of `truncate projects` which means defining a query and [using it here](https://github.com/amazeeio/lagoon/blob/42bf55050d1bd1ddfd5b92cc6e3dafa3f31b0420/services/api/src/resources/project/resolvers.ts#L702)
2. Delete deployments and tasks when deleting environments

I'd definitely prefer #2, but I'd guess #1 would be easie

[2021-04-21 00:33] rocketeerbkw commented on #2616
Thanks for reporting.

The `deleteAll` mutations are in there for testing infrastructure and local development support only, and not designed to be used in production. If you run that, you should run all `deleteAllX` mutations. Even if you do that there will still be left over stuff in the api-db. We've reworked a bit to not require those mutations being the the API and have an [issue to retire th

[2021-04-21 01:59] seanhamlin opened #2617 "Allow cronjobs with 15 minutes (exactly) to schedule in a native cronjob pod"
At the moment, if you create a `*/15 * * * *` cronjob this will schedule in the CLI pod. This will prevent the idling of that CLI pod.

With native k8s, cronjobs schedule much faster, so it is more feasible to run these jobs in native cronjob pods.

## The request

Can we either:

* Lower the frequency to which will schedule in a CLI pod to be < 15 minutes
* Make this cutoff number configurable pe

[2021-04-21 04:03] nicksantamaria opened #2619 "Add labels to namespaces indicating if a production environment is active or standby"
## Motivation

I am looking for ways to query the kubernetes API and find the current "active" production environment.

From a practical perspective, I am not overly concerned about differentiating between a normal production environment, and the active environment for a project using active/standby (and the proposed solution reflects this). However, if its deemed useful to have this distinction s

[2021-04-21 05:14] nicksantamaria commented on #2528
I agree with @Schnitzel  - theres no value for us to run clamav as a lagoon project (beyond it currently being the simplest way to deploy it).

If it came as part of the cluster, deployed with helm or whatever, I'd drop ours in a heartbeat.

[2021-04-25 23:37] Decipher opened #2622 "support: How to use Branch specific `env` file in Dockerfile during Build?"
As per https://docs.lagoon.sh/lagoon/using-lagoon-advanced/environment-variables#lagoon-env-usdbranchname, I have a couple of Branch specific env files:
- https://github.com/druxt/demo.druxtjs.org/blob/develop/.lagoon.env.develop
- https://github.com/druxt/demo.druxtjs.org/blob/develop/.lagoon.env.main

The files are loaded in correctly during runtime, but I also need the variables to be available

[2021-04-26 03:17] rocketeerbkw commented on #2622
@Decipher we don't support build time variables defined in environment files, the only way to add them is via the API.

We do have an open issue for that: https://github.com/amazeeio/lagoon/issues/574.

[2021-04-26 03:17] #2622 closed, assigned to nobody

[2021-04-26 03:18] #2616 closed, assigned to nobody

[2021-04-26 22:56] shreddedbacon commented on #2511
The latest build deploy controller release includes fixes for this, my understanding is this was recently rolled out.

@tim-yao are you able to confirm if slack messages are now as expected?

[2021-04-27 10:09] tallytarik commented on #2521
@ocean curious how you've gone getting the set of containers running on M1?

I've been testing it out and running into errors with containers trying to start - redis/mariadb/nginx/php. Looks like there's an issue with Go, which means envplate doesn't run, which means these containers have invalid config.

Did you run into this by any chance?

[2021-04-28 02:36] ocean commented on #2521
@tallytarik Yep, that's correct, `envplate` was the first thing that died for me. It's because the `envplate` utility is in the `commons` Docker image, which is used as a utility parent image for most of the other ones. The `ep` Go binary in the container is compiled for `amd64`, and even though Docker for Mac is emulating `amd64`, it must not support the calls the binary is making. Luckily, Go bi

[2021-04-28 02:47] ocean commented on #2521
@tallytarik Oh I meant to say, the Lagoon `pygmy` stack has issues running in `amd64` emulation mode too, so I rebuilt some of the Docker images that power that and then forked the original Ruby gem to use them.

- The `haproxy` image uses a utility called `docker-gen` which needed rebuilding for multi-platform.
- The `dnsmasq` container kept crashing when emulated, so I rebuilt that cross-platfor

[2021-04-28 03:47] ocean commented on #2521
Added a small PR to the `lagoon-images` repo to initiate discussion https://github.com/uselagoon/lagoon-images/pull/150

[2021-05-05 14:29] rocketeerbkw opened #2630 "`addFact`/`addFacts`/`addProblem` submitted with `id` parameter should warn user"
# Describe the bug

The `addFact`, `addFacts` and `addProblem` mutations have `id` as part of the [`AddFactInput`](https://github.com/amazeeio/lagoon/blob/main/services/api/src/typeDefs.js#L208) but the [resolvers](https://github.com/amazeeio/lagoon/blob/main/services/api/src/resources/fact/resolvers.ts#L62) doesn't use it so the id is always autogenerated by the database.

## To Reproduce

Steps

[2021-05-06 23:10] Feng-Shui commented on #2521
Two questions:

1: What type of beer/spirits/wine/coffee/tea do you drink?
2: How can I get you a carton of said drink?

Am up and running on these images this morning, you, sir, are a saint.

[2021-05-06 23:31] tobybellwood commented on #2521
I guess I know what I'm doing for the next few days then...

![IMG_20210507_093027.jpg](https://user-images.githubusercontent.com/4373945/117377600-f802b380-af16-11eb-9d28-e70201216759.jpg)

[2021-05-07 09:20] ocean commented on #2521
@Feng-Shui No worries, I'm glad you got it all working 👍  Next time we cross paths (I plan to be in the East later in the year), I would be very happy to let you buy me a beer 😁

@tobybellwood I hope your weekend ARM hacking is successful 🤓

I realise now I should have called my fork `pygmy-arm` instead of `pygmy-apple`, my bad 😐  (and why the heck is it called pygmy anyway??)

[2021-05-07 18:51] Feng-Shui commented on #2521
I wondered the same thing for ages, name is explained in the docs: https://pygmy.readthedocs.io

[2021-05-10 21:52] Schnitzel opened #2644 "Support Harbor 2 in Lagoon 1"
we need to check the code in Lagoon 1 that:
- adds robot accounts (should already work)
- adds webhooks to harbor (currently broken with Harbor 2)

[2021-05-10 21:54] Schnitzel commented on #2644
there is some work started here: https://github.com/amazeeio/lagoon/pull/2580
we need additionally a version check with `HARBOR_API_VERSION` to support Harbor1 and Harbor2

[2021-05-10 22:02] #1270 closed, assigned to rocketeerbkw

[2021-05-11 06:35] smlx opened #2645 "Error in mysqldump backup logs with recent versions of mysql"
# Describe the bug

Error in mysqldump backup command:
[code]

## To Reproduce

Steps to reproduce the behavior:

1. View backup logs for recent versions of mysql.

## Expected behavior

No error should be logged.

## Screenshots

n/a

## Additional context

[This blog post](https://anothercoffee.net/how-to-fix-the-mysqldump-access-denied-process-privilege-error/) describes the problem. The fix we

[2021-05-12 14:25] bryangruneberg commented on #2597
It looks like the backups are accessible from the User Interface (web ui), even though the developer should have no access to production.

We need a role that has no access to production _data_ not just no action to production environment. So this means no backups access and no files access to anything that is on production.

[2021-05-13 02:13] smlx opened #2649 "Consider compressing DB backups"
# Describe the bug

I don't think we currently compress DB backups.

## To Reproduce

Steps to reproduce the behavior:

1. Inspect mysqldump commands in prebackuppods.

## Expected behavior

Lagoon compresses DB dumps if it results in more efficient use of space.

## Screenshots

n/a

## Additional context

DB dumps are highly compressible. However we have to be a bit careful about how we do it be

[2021-05-13 21:10] KorvinSzanto opened #2652 "Consider returning deployment details from `deploy` mutations"
There are currently 4 separate mutations to trigger an actual deployment with the lagoon api:
- `deployEnvironmentPullrequest: String`
- `deployEnvironmentBranch: String`
- `deployEnvironmentLatest: String`
- `deployEnvironmentPromote: String`

There's also `addDeployment: Deployment` but it doesn't work the same way as these others, it just adds the deployment record without triggering the action

[2021-05-13 21:37] rocketeerbkw commented on #2652
You're correct that `addDeployment` doesn't trigger a deployment, it's just a database insert.

The first two options, returning any kind of deployment data, is not just a BC break it's not currently possible for architecture reasons (see below).

With Lagoon 2 we have control over the entire deployment, so it could be possible to add some passthrough data, we just need to be able to store it in t

[2021-05-17 04:08] bomoko opened #2655 "Problems never cleared out of Database"
# Describe the bug

Presently when Problems are deleted, they're simply marked as deleted, rather than being actually deleted. This means that over time the environment_problems table balloons in size.

## To Reproduce

Allow the Harbor integration with the Problems system run for hundreds of thousands of scans in a working Lagoon.

## Expected behavior

Presently the behaviour is as expected.

##

[2021-05-17 12:53] smlx opened #2657 "skopeo commands (and others?) during builds should retry"
# Describe the bug

A transient network issue with `skopeo` failed a whole Lagoon deploy.

## To Reproduce

Steps to reproduce the behavior:

1. Run a build.
2. It fails.
3. Check logs.
4. Run again, maybe it succeeds.

Failed build 1:
[code]
Failed build 2:
[code]

This deploy succeeded the third time.

## Expected behavior

Any network operation such as copying blobs around has the possibility t

[2021-05-17 23:42] seanhamlin opened #2658 "Bitbucket tag push and delete is interpreted as a branch push and delete"
# Describe the bug

It was discovered that if you push a tag into your Bitbucket repo, Lagoon appears to interpret the resulting webhook payload this as a branch, and deploys it. The same with tag deletion, Lagoon will delete any non-production environment with that tag name.

## To Reproduce

Steps to reproduce the behavior:

1. Create a new dev environment called `develop`, and push this branch

[2021-05-19 23:23] Schnitzel opened #2661 "fix service idler to be able to query new router-logs system"

[2021-05-19 23:32] twardnw opened #2662 "add `startingDeadlineSeconds` to k8s cronjobs"
https://github.com/amazeeio/lagoon/blob/main/images/oc-build-deploy-dind/openshift-templates/cli/custom-cronjob.yml#L59 needs to be implemented on any k8s cronjo

[2021-05-19 23:37] bomoko opened #2663 "AddFacts putting strain on Keycloak"
Currently the AddFacts call is overcalling keycloak for environment permissions checks - it calls once per FACT. This should be changed to once per ENVIRONMENT.

[2021-05-20 17:43] twardnw opened #2666 "allow seperator in autogenerated routes to be configureable"
In our charts it is currently assumed that a service name will be prepended to the router pattern with a `.`. This should be configurable to allow administrators the option to choose a different DNS-safe seperator, such as `-`. The build-deploy script should also check that the length of FQDNs generated using a customized seperator are also DNS-safe.

[2021-05-21 01:17] smlx commented on #2666
I think this is a duplicate of https://github.com/amazeeio/lagoon/issues/2573

[2021-05-21 01:20] tnelson-doghouse commented on #1144
I've attached a Bash script that we use for doing Slack messages.  Implementing similar functionality in Lagoon would at least allow:

1. Direct the messages to different channels on a per-environment basis
2. Allow ordinary users to define the channels (by using environment variables)

That wouldn't allow all the functionality that this ticket requests, but it'd be a step in the right direction (

[2021-05-22 08:38] bomoko opened #2670 "Issue with Harbor upstream image scan webhooks"
Presently there is an upstream issue affecting some installations of Harbor - the problem is described here https://github.com/goharbor/harbor/issues/14585

For our purposes we're receiving misleading data from the Trivy scan in the Harbor webhook payload, telling us that a scan is still running when it is, in fact, complete. We don't rely on this payload _except_ to check the scan status. But we

[2021-05-25 00:14] tobybellwood opened #2674 "Updating historic Lagoon 1 Pull Requests for Lagoon 2"
We still have a number of outstanding Lagoon 1 PRs (https://github.com/amazeeio/lagoon/pulls?q=is%3Apr+sort%3Aupdated-desc+label%3Alagoon-one+) - please can we look at them and decide whether they need to be recreated against Lagoon2.

If these PRs are still required for Lagoon 1 (in the next couple of weeks, please can you repush the branch to uselagoon/lagoon-one and create a new PR.  Please als

[2021-05-25 02:53] smlx commented on #2674
I closed my PR since in its current state it isn't ready for Lagoon 2.

[2021-05-25 03:48] tobybellwood commented on #376
minishift/login-docker-registry is deprecated in Lagoon 2

[2021-05-25 03:48] #376 closed, assigned to nobody

[2021-05-25 03:48] tobybellwood commented on #454
Tug is deprecated in Lagoon 2

[2021-05-25 03:48] #454 closed, assigned to dasrecht

[2021-05-25 03:49] tobybellwood commented on #512
to be readdressed in https://github.com/uselagoon/lagoon-images

[2021-05-25 03:49] #512 closed, assigned to nobody

[2021-05-25 03:50] tobybellwood commented on #95
This is already in place in https://github.com/uselagoon/lagoon-images and soon here

[2021-05-25 03:50] #95 closed, assigned to nobody

[2021-05-25 03:51] tobybellwood commented on #843
this is a WIP elsewhere

[2021-05-25 03:51] #843 closed, assigned to nobody

[2021-05-25 03:51] tobybellwood commented on #573
make lagoon-kickstart is deprecated in Lagoon 2

[2021-05-25 03:51] #573 closed, assigned to nobody

[2021-05-25 03:52] tobybellwood commented on #453
Lagoon Tug is deprecated in Lagoon 2

[2021-05-25 03:52] #453 closed, assigned to nobody

[2021-05-25 03:52] tobybellwood commented on #683
Lagoon Tug is deprecated in Lagoon 2

[2021-05-25 03:52] #683 closed, assigned to dasrecht

[2021-05-25 03:53] tobybellwood commented on #702
make minishift is deprecated in Lagoon 2

[2021-05-25 03:53] #702 closed, assigned to nobody

[2021-05-25 03:55] tobybellwood commented on #988
This was fixed in https://github.com/uselagoon/lagoon-images/blob/main/images/php-fpm/entrypoints/60-php-xdebug.sh

[2021-05-25 03:55] #988 closed, assigned to nobody

[2021-05-25 05:44] #2663 closed, assigned to nobody

[2021-05-25 05:51] tobybellwood commented on #981
This has been improved since

[2021-05-25 05:51] #981 closed, assigned to nobody

[2021-05-25 05:53] tobybellwood commented on #1040
This has been resolved with the implementation of lagoon-kbd

[2021-05-25 05:53] #1040 closed, assigned to rocketeerbkw

[2021-05-25 05:53] tobybellwood commented on #968
In Lagoon 2, this is all optional for local-dev

[2021-05-25 05:53] #968 closed, assigned to twardnw

[2021-05-25 05:54] tobybellwood commented on #1132
openshiftremove has been deprecated in Lagoon 2

[2021-05-25 05:54] #1132 closed, assigned to nobody

[2021-05-25 05:54] tobybellwood commented on #1167
The k8up system has changed significantly since this issue

[2021-05-25 05:54] #1167 closed, assigned to rocketeerbkw

[2021-05-25 05:55] tobybellwood commented on #1157
This is being fixed in main - the mariasql library update was first, then the node update to 14/16

[2021-05-25 05:55] #1157 closed, assigned to nobody

[2021-05-25 05:56] tobybellwood commented on #1194
No further interest in this, will be looking at CI integrations more broadly later this year

[2021-05-25 05:56] #1194 closed, assigned to nobody

[2021-05-25 05:57] tobybellwood commented on #1306
This has been done - https://github.com/uselagoon/lagoon-images

[2021-05-25 05:57] #1306 closed, assigned to nobody

[2021-05-25 05:59] tobybellwood commented on #1376
We've modified the build process since this issue

[2021-05-25 05:59] #1376 closed, assigned to nobody

[2021-05-25 06:00] tobybellwood commented on #1515
Will address elsewhere

[2021-05-25 06:00] #1515 closed, assigned to nobody

[2021-05-25 06:01] tobybellwood commented on #1518
now working again

[2021-05-25 06:01] #1518 closed, assigned to nobody

[2021-05-25 06:03] tobybellwood commented on #1824
@AlannaBurke - are these in your sights?

[2021-05-25 06:04] tobybellwood commented on #1741
Varnish 5 and 6 now available in lagoon-images

[2021-05-25 06:04] #1741 closed, assigned to seanhamlin

[2021-05-25 06:04] tobybellwood commented on #1324
closing, as mostly done, and the rest under control

[2021-05-25 06:04] #1324 closed, assigned to nobody

[2021-05-25 06:06] tobybellwood commented on #1868
The auto-idler has been replaced in Lagoon 2 with the https://github.com/amazeeio/aergia-controller

[2021-05-25 06:06] #1868 closed, assigned to nobody

[2021-05-25 06:06] tobybellwood commented on #1616
closing, as this is the old make/build system

[2021-05-25 06:06] #1616 closed, assigned to nobody

[2021-05-25 06:07] tobybellwood commented on #1893
fixed in https://github.com/amazeeio/aergia-controller

[2021-05-25 06:07] #1893 closed, assigned to shreddedbacon

[2021-05-25 06:09] tobybellwood commented on #100
With the release of Lagoon2 imminent, closing this

[2021-05-25 06:09] #100 closed, assigned to nobody

[2021-05-25 06:09] tobybellwood commented on #1965
it is done

[2021-05-25 06:09] #1965 closed, assigned to nobody

[2021-05-25 06:09] tobybellwood commented on #1596
fixed now

[2021-05-25 06:09] #1596 closed, assigned to twardnw

[2021-05-25 06:09] tobybellwood commented on #1592
also available now

[2021-05-25 06:09] #1592 closed, assigned to shreddedbacon

[2021-05-25 06:10] tobybellwood commented on #1593
think they're all pretty aligned now?

[2021-05-25 06:10] #1593 closed, assigned to tobybellwood

[2021-05-25 06:10] tobybellwood commented on #1701
service no longer exists

[2021-05-25 06:10] #1701 closed, assigned to nobody

[2021-05-25 06:10] tobybellwood commented on #1060
it is done

[2021-05-25 06:10] #1060 closed, assigned to nobody

[2021-05-25 06:12] tobybellwood commented on #2131
fixed in our latest docs - https://docs.lagoon.sh/lagoon/docker-images/nginx#basic-authentication

[2021-05-25 06:12] #2131 closed, assigned to nobody

[2021-05-25 06:13] tobybellwood commented on #2126
we now have a basic Python test

[2021-05-25 06:13] #2126 closed, assigned to cdchris12

[2021-05-25 06:13] tobybellwood commented on #2108
it is now done in lagoon-charts

[2021-05-25 06:13] #2108 closed, assigned to nobody

[2021-05-25 06:15] tobybellwood commented on #2210
this has been implemented

[2021-05-25 06:15] #2210 closed, assigned to smlx

[2021-05-25 06:15] tobybellwood commented on #2204
This is one of the known incompatibilities between Aurora/RDS and MySQL/MariaDB

[2021-05-25 06:15] #2204 closed, assigned to nobody

[2021-05-25 06:16] tobybellwood commented on #1956
Fixed in the controller

[2021-05-25 06:16] #1956 closed, assigned to nobody

[2021-05-25 06:18] tobybellwood commented on #1482
partial fixes in place - we now pin to upstream tags

[2021-05-25 06:18] #1482 closed, assigned to nobody

[2021-05-25 06:24] tobybellwood commented on #1714
openshiftremove has been deprecated in Lagoon 2

[2021-05-25 06:24] #1714 closed, assigned to nobody

[2021-05-25 06:24] tobybellwood commented on #1322
openshiftremove has been deprecated in Lagoon 2

[2021-05-25 06:24] #1322 closed, assigned to nobody

[2021-05-25 06:24] tobybellwood commented on #324
openshiftremove has been deprecated in Lagoon 2

[2021-05-25 06:24] #324 closed, assigned to nobody

[2021-05-25 06:26] tobybellwood commented on #1952
this is now handled by aergia

[2021-05-25 06:26] #1952 closed, assigned to nobody

[2021-05-25 06:35] #1747 closed, assigned to nobody

[2021-05-25 08:46] smlx commented on #431
`openshiftbuilddeploy` is deprecated

[2021-05-25 08:46] #431 closed, assigned to nobody

[2021-05-25 08:48] smlx commented on #452
this was fixed a while ago

[2021-05-25 08:48] #452 closed, assigned to nobody

[2021-05-25 08:51] smlx commented on #367
Not sure what this was about, please re-open if it is still relevant. :slightly_smiling_face:

[2021-05-25 08:51] #367 closed, assigned to nobody

[2021-05-25 08:52] smlx commented on #476
Is this still a feature request @Schnitzel?

[2021-05-25 08:55] smlx commented on #480
it is now disabled by default

[2021-05-25 08:55] #480 closed, assigned to nobody

[2021-05-25 09:00] smlx commented on #85
is this still a valid feature request @Schnitzel?

[2021-05-25 09:01] smlx commented on #886
`additional-yaml` is deprecated.

[2021-05-25 09:01] #886 closed, assigned to nobody

[2021-05-25 09:03] smlx commented on #832
This works in Firefox now.

[2021-05-25 09:03] #832 closed, assigned to nobody

[2021-05-25 14:00] smlx commented on #653
Is this issue related to Lagoon user workloads? Or Lagoon Core/Remote service components?

[2021-05-25 14:03] smlx commented on #603
@Schnitzel is this issue still relevant? I think we have decided not to make this directly part of Lagoon?

[2021-05-25 14:09] smlx commented on #1434
Lagoon uses a different monitoring service and controller now.

[2021-05-25 14:09] #1434 closed, assigned to nobody

[2021-05-25 21:32] bryangruneberg commented on #307
+1 from me closes #2537

[2021-05-25 21:33] #2537 closed, assigned to nobody

[2021-05-25 21:33] bryangruneberg commented on #2537
closing in favor of #307

[2021-05-26 02:48] smlx commented on #940
This has been implemented.

[2021-05-26 02:48] #940 closed, assigned to nobody

[2021-05-26 02:49] seanhamlin opened #2678 "Support the GitLab system webhook `user_update_for_group`"
If you change a user's role within a group in GitLab, this does not sync to Lagoon.

[code]

## Ideal outcome

Lagoon is able to parse and handle the `user_update_for_group` system webhook correctly, and update the roles in KeyCloak.

## Example webhook payload

See https://docs.gitlab.com/ee/system_hooks/system_hooks.html

[code]

[2021-05-26 02:49] smlx commented on #943
Lagoon uses `helm` for k8s deployments now.

[2021-05-26 02:49] #943 closed, assigned to nobody

[2021-05-26 02:49] smlx commented on #1544
https://github.com/amazeeio/lagoon-kbd fixes this issue.

[2021-05-26 02:49] #1544 closed, assigned to nobody

[2021-05-26 02:50] smlx commented on #1548
Lagoon uses the OpenDistro chart for Elasticsearch now.

[2021-05-26 02:50] #1548 closed, assigned to nobody

[2021-05-26 02:51] smlx commented on #945
This has been implemented.

[2021-05-26 02:51] #945 closed, assigned to nobody

[2021-05-26 08:17] #2644 closed, assigned to nobody

[2021-05-26 16:47] twardnw opened #2679 "Per project custom backup schedules in .lagoon.yml"
Similar to the pattern for custom backup retention, let us also allow custom backup schedules to be defined

[2021-05-26 17:06] twardnw opened #2680 "Allow project-level BaaS bucket & credentials"
Currently there is only the option to use the same s3-compatible bucket for all projects on a cluster, this should be configurable so that a project may bring it's own backup storage

[2021-05-26 17:20] cdchris12 commented on #2680
Just a first thought I have on this; if we provide this functionality, we wouldn't be able to ensure these DR backups are available. The access keys could potentially get rotated upstream, for example, leading to failed backups and a lack of coverage for these backup timeframes.

So, I suppose, if we build this support, it should come with an important caveat that SLAs for DR backups would no long

[2021-05-26 17:23] cdchris12 commented on #2679
In addition to simply allowing custom backup schedule definitions, we should put some common senes guardrails in place.

As k8up only supports tracking backups down to the hour, it wouldn't make sense for us to allow backups to happen more frequently than one per hour, for instance.

[2021-05-26 23:29] tobybellwood commented on #1032
@AlannaBurke to add to https://docs.lagoon.sh/lagoon/docker-images/nginx/nginx-drupal

[2021-05-27 03:01] #2554 closed, assigned to nobody

[2021-05-27 05:27] rocketeerbkw opened #2684 "Add API query to list all projects on a cluster"
- New `projectsByKubernetes` query
- Filter by `id`, `createdAfter`
- Sort by `name`, `created`

[2021-05-27 12:38] justinlevi commented on #2226
This should be solved in the new billing system

[2021-05-27 12:38] #2226 closed, assigned to nobody

[2021-05-27 12:47] justinlevi commented on #2463
I believe this was solved in https://github.com/amazeeio/lagoon/commit/34d5f79e

[2021-05-27 12:50] justinlevi commented on #2092
Solved in new billing system

[2021-05-27 12:50] #2092 closed, assigned to nobody

[2021-05-27 12:50] justinlevi commented on #2069
Solved in new billing system

[2021-05-27 12:50] #2069 closed, assigned to nobody

[2021-05-27 12:51] #1900 closed, assigned to justinlevi

[2021-05-27 12:58] justinlevi opened #2687 "Remove Billing Code from Lagoon"
IO Billing code doesn't belong in lagoon as it is specific to us. A plugin architecture makes more sense.

[2021-05-27 21:16] AlannaBurke commented on #1032
Added to docs.

[2021-05-27 21:16] #1032 closed, assigned to nobody

[2021-05-27 22:55] AlannaBurke commented on #1824
All wiki articles moved and deleted, but i no longer seem to have access to repo settings, so i can't disable the wiki.

[2021-05-27 22:56] tobybellwood commented on #1824
aaaand done!

[2021-05-27 22:56] #1824 closed, assigned to AlannaBurke, tobybellwood

[2021-05-27 23:06] shreddedbacon commented on #1752
With the idling in Kubernetes, it **_could_** be possible for us display if an environment is idled in the UI/API. The new lagoon-idler/aergia controller could potentially handle this action when it does the idling/unidling operations.

[2021-05-31 03:42] tnelson-doghouse commented on #1653
Is there any chance we could get the script placed somewhere inside amazeeio/php:7.3-cli-drupal (and other appropriate containers)?

[2021-05-31 03:54] tnelson-doghouse commented on #1653
Also, this would be simpler if you installed the "mail" program (mailx, s-nail, or something equivalent); it would do a fair bit of the lifting here; you could do things like:

drush cron | mail -s "Subject" 'example@example.com'

[2021-06-08 22:09] seanhamlin opened #2695 "Pre-rollout tasks fail when a CLI deployment cannot be scaled"
# Describe the bug

This was noticed on a site that was attempting to do an Openshift 3.11 deployment, but the images for the CLI deployment could not be pulled (for some reason).

[code]

This results in an endless loop.

## To Reproduce

Steps to reproduce the behavior:

1. Deploy a site, add a pre-rollout task that depends on the CLI deployment
2. Remove the CLI images from the image registry
3

[2021-06-11 06:14] smlx commented on #2461
I ran into this bug today when trying to deploy a production environment with an underscore.

Situation:
* six development environments in use
* limit of six dev environments in project
* one production environment with underscores in the name

Deploying the production environment was not possible and returned this error:
[code]

I guess this is because the code that checks the limits on projects

[2021-06-15 00:56] seanhamlin commented on #2679
Initialled closed this as a duplicate of https://github.com/amazeeio/lagoon/issues/2303, but I think they are 2 different issues now, this one https://github.com/amazeeio/lagoon/issues/2679 is about per project settings in `.lagoon.yml`, and https://github.com/amazeeio/lagoon/issues/2303 is about a cluster level setting.

[2021-06-15 23:20] twardnw opened #2698 "send notification when deploy is not started because of environment limit"

[2021-06-16 23:26] twardnw opened #2701 "udpate default activeSystems* values"
The current values for the `activeSystems*` config of projects is still set to `lagoon_openshift*` settings, this should be updated to the `lagoon_controller*` varieties.

[2021-06-16 23:33] tobybellwood commented on #2701
I presume it's set in here as default fallbacks if not specified - https://github.com/uselagoon/lagoon-one/blob/master/services/api/src/resources/project/resolvers.ts#L307-L331

[2021-06-16 23:33] seanhamlin opened #2702 "Move activeSystems* to the cluster, and out of the project"
As a follow up to #2701, we should normalise the data in the API database to refer to the active systems at a cluster level. This way we avoid the situation entirely of having out of date, or inaccurate active systems for a given project on a given cluster.

It also means that moving to newer systems is a trivial tasks that is done once for all projects on a given cluster.

If you want to test a g

[2021-06-17 01:12] tobybellwood commented on #1289
added in #1775

[2021-06-17 01:12] #1289 closed, assigned to nobody

[2021-06-17 07:04] chandanatk opened #2703 "Users added to a group via Gitlab are not getting correct project access in Lagoon"
# Describe the bug

One of our customers using Gitlab to manage projects, users etc: recently experiencing an issue with Lagoon access. When users are added to a group, they do not get access to the projects in that group on Lagoon. This used to work before and hard to say when it stopped working. When added to a project-specific group, that still works correctly as expected.

## To Reproduce

Ste

[2021-06-17 08:31] bomoko commented on #2703
It seems as though `async-retry` is being pulled in incorrectly here

https://github.com/uselagoon/lagoon/blob/de9a20c02a165c3976ca24cce586e676c3d83330/services/webhooks2tasks/src/handlers/gitlabUserGroupAdd.ts#L1

we shouldn't be destructuring the import.

[2021-06-18 08:09] fjgarlin commented on #1653
Could we use the notification system used for the project? If we have Slack or Rocketchat notifications for the project, it'd be great that these notifications would go there by default too, with kind of zero set up or just an env variable to enable these notifications.

[2021-06-21 12:20] Schnitzel commented on #2303
I think this would be best implemented in the build controller: https://github.com/amazeeio/lagoon-kbd
as we overall are moving cluster level settings into the build controller.
Can you create a sister ticket in the build controller to track this?

[2021-06-22 01:22] seanhamlin commented on #2303
done

[2021-06-22 12:20] dan2k3k4 opened #2708 "Fix Skip Deploy for BitBucket"
# Describe the bug

It appears that the `[skip deploy]` feature on BitBucket does not currently work.

Looking at the [event payload](https://support.atlassian.com/bitbucket-cloud/docs/event-payloads/) data, it requires to check inside the `changes` array for the `commits`.

## Expected behavior

A deployment is skipped when pushing with `[skip deploy]` commit message.

[2021-06-23 15:43] luigimannoni opened #2712 "As a developer I'd like to have links/buttons on Slack's builddeploymonitor integration messages so that I can swiftly halt or inspect unwanted builds and deploys"
Titled into an user story if that's more helpful to convey the message, I'll rephrase if requested.

This is a very welcome touch that would help a lot teams with a bunch of different projects running/building on Lagoon, often during a code review we face the possibility to merge two or more pull requests in a short timeframe or even have back-to-back merges spawning a quite high number of unwante

[2021-06-24 16:01] Schnitzel commented on #2645
I think we should do what is suggested here: https://github.com/drush-ops/drush/issues/4489#issuecomment-804773355

[2021-06-25 03:42] tobybellwood commented on #2703
@bomoko - do we have a quick PR for this - is it just removing the curly braces?

[2021-06-25 06:45] smlx opened #2717 "Keycloak crashing on deploy mutation"
# Describe the bug

During CI testing I'm regularly seeing tests fail with an error like this"
[code]

At the same moment keycloak crashes like this:

<details><summary>Expand</summary>
<p>

[code]

</p>
</details>

The deploy never succeeds at this point, and the test run fails.

## To Reproduce

Steps to reproduce the behavior:

1. Run the Lagoon test suite.
2. Approx half the time it will fail

[2021-06-25 08:53] bomoko commented on #2703
indeed there is @tobybellwood - ^^ this should do it.

[2021-06-27 22:11] bomoko commented on #2717
ignore this mention ^^ - it was a slip of the autocomplete/dropdown when creating 2718.

[2021-06-28 21:15] Schnitzel opened #2722 "`getSqlClient is not defined` in Lagoon UI Websocket connections"
# Describe the bug

The Lagoon UI tries to create websocket connections but fails with an error:

[code]

This doesn't cause any errors in the UI but rather creates a lot of websocket connections and prevents the live update of the UI to work.

[2021-06-28 22:32] #2722 closed, assigned to nobody

[2021-06-28 23:03] Schnitzel opened #2724 "Lagoon UI cannot show single task"
somehow the UI cannot show a single task, this is the GraphQL requests that runs to show a single task:

[code]

and here the response:

[code]

somehow the `tasks` list is empty all together

interestingly it works though for the task overview, the request looks like this:

[code]

the response:

[code]
[code]

[2021-06-29 09:59] #2724 closed, assigned to nobody

[2021-06-30 12:04] janmashat opened #2736 "Slack builddeploymonitor duplicates ingress URLs"
# Describe the bug

Slack notifications contain duplicate URLs

## Expected behavior

Ingress URLs should not be duplicated.

## Screenshots

<img width="550" alt="Screenshot 2021-06-30 at 11 21 53" src="https://user-images.githubusercontent.com/12157479/123936917-edecb680-d995-11eb-9e9b-fea9e0d0c6b8.png">

[2021-06-30 16:57] vincenzodnp opened #2737 "Field "category" is not defined by type AddFactInput error in API"
# Describe the bug

In the API logs I get (as example):

[code]

[2021-06-30 17:33] bomoko commented on #2737
This is due to the facts gatherer being out of sync with the current api - it's not strictly a Lagoon problem.
I'm going to close this and move it to the lagoon-facts-app queue.

[2021-06-30 17:33] #2737 closed, assigned to nobody

[2021-06-30 18:27] Schnitzel opened #2738 "RabbitMQ Queues grow endlessly when running RabbitMQ in HA Mode"
# Describe the bug

By default Lagoon Core is deployed with a broker that has 3 rabbitmq nodes, this seems to create some issues with the GraphQL subscriptions that are used to update the UI in realtime.
It seems that the queues are not correctly removed and the amount of queues goes to around 3000, which then the rabbitmq channels go to 5000+ at which point rabbitmq blocks new requests. If this h

[2021-06-30 18:32] rocketeerbkw commented on #2738
Related https://github.com/uselagoon/lagoon/issues/1344

[2021-06-30 18:51] Schnitzel opened #2740 "send audit log to lagoon-logs rabbitmq queue for storing in lagoon-logging elasticsearch"
right now the api just outputs the audit-log as console log. While this is captured by lagoon-logging container log system, it's not parsed and cannot easily be analyzed as it's just raw text logs.

If we send the audit log to the lagoon-logs rabbitmq queue, they would be picked up by lagoon-logging collector and put into the elasticsearch fully parsed, also if we provide the projectname in the lo

[2021-07-01 03:44] seanhamlin commented on #802
I believe with the introduction of Keycloak, these SQL tables are no longer relevant.

[2021-07-01 03:44] #802 closed, assigned to rocketeerbkw

[2021-07-01 10:44] vincenzodnp opened #2741 "Old $LAGOON_SAFE_PROJECT in task command"
# Describe the bug

In here https://github.com/uselagoon/lagoon/blob/ea0583e3d6cac186fe83d6fc17126da5be8c7228/services/api/src/resources/task/resolvers.ts#L303 and here https://github.com/uselagoon/lagoon/blob/ea0583e3d6cac186fe83d6fc17126da5be8c7228/services/api/src/resources/task/resolvers.ts#L348 the `command` uses the old `$LAGOON_SAFE_PROJECT` variable that doesn't exist anymore.
It should us

[2021-07-01 11:58] Schnitzel commented on #2741
this is just a missing environment variable, the error in the log is an nginx error. They most probably have nothing to do with each other.

we definitely should fix the usage of `$LAGOON_SAFE_PROJECT`, but it will just make the filename nicer and not actually fix the upload issue.

[2021-07-01 14:54] Schnitzel opened #2744 "api fails requests while refreshing keycloak admin token"
I'm not sure if this is really an issue or if it's maybe something else.

But we are seeing in the amazee.io lagoon some api errors here and there, looking at the logs of all api pods I can find this behavior:
As soon as in the logs we have
[code]

right after that we have many failed requests:

[code]

this is how it looks in the error log:
![stern_--tail_10_lagoon-core-api_and_Lens_and_Slack____

[2021-07-01 22:55] Schnitzel opened #2746 "Task File Upload broken since node16 upgrade"
since we upgraded to node16 the Task File Upload is broken.
@rocketeerbkw and I looked into this and it's some strange change in Node 13 around File Streams and graphql-upload (https://github.com/jaydenseric/graphql-upload/issues/170)

[2021-07-02 02:03] #2746 closed, assigned to nobody

[2021-07-02 02:04] #2741 closed, assigned to nobody

[2021-07-02 17:11] twardnw commented on #2701
The defaults were changed in Lagoon 2 RC1

[2021-07-02 17:11] #2701 closed, assigned to nobody

[2021-07-02 20:15] #2679 closed, assigned to nobody

[2021-07-02 20:21] cdchris12 commented on #2303
Closed by #2721

[2021-07-02 20:21] #2303 closed, assigned to nobody

[2021-07-05 10:04] smlx opened #2751 "Lagoon Drush sql-dump task sometimes truncates the DB dump file"
# Describe the bug

Lagoon Drush sql-dump task sometimes truncates the DB dump file.

## To Reproduce

Steps to reproduce the behavior:

1. Run a drush sql-dump task.
2. See it complete successfully.
3. Download the file.
4. See gzip report that the file is truncated:

[code]

Downloading the file multiple times results in the same truncated file with the same `sha256sum`.

## Expected behavior

I

[2021-07-05 15:24] smlx commented on #2751
Is this issue just https://github.com/uselagoon/lagoon/issues/2746?

[2021-07-05 21:44] rocketeerbkw commented on #2751
I can verify locally that with some file sizes, the API is truncating the file, so it's probably not a problem with drush. It seems likely to be related to #2746

[2021-07-06 05:35] anthony-malkoun opened #2752 "Allow deploys to happen on PRs created from forked repository"
### Use Case

https://github.com/dpc-sdp/ripple is an open source repository. As an open source repo third parties are contributing changes back our repo that we want to test against a Lagoon environment.

### Issue

Normally PRs against the repository create Lagoon environments as expected and are used for testing. We would like this to happen for PRs created from a forked repository as well. Cur

[2021-07-06 05:52] rocketeerbkw commented on #2752
This is not a feature that's supported, so it can't be "turned on" easily. Lagoon needs access to the git repo to build the images and there isn't any guarantee that it will have permission to do a checkout from a repo that's not configured in the Lagoon project.

Supporting this would potentially allow any random user to create environments which directly impacts billing. Imagine checking in a 10

[2021-07-06 08:24] seanhamlin commented on #2752
To add to @rocketeerbkw's point. Just allowing forked repo PRs as is would be a bad idea. We would need to have more guard rails in Lagoon:

* Some sort of crypto miner detection (see https://layerci.com/blog/crypto-miners-are-killing-free-ci/)
* Some sort of sensible maximum time a build is allowed to run (e.g. 30 minutes)
* Some sort of abuse detection (e.g. no more than X builds per hour per fo

[2021-07-07 12:35] Schnitzel opened #2755 "addKubernetes/addOpenshift without ID fails"
# Describe the bug

trying to run this:

[code]

fails with:

[code]

you need to add it with a specific ID set:

[code]

which works, but that should not be expected

[2021-07-07 13:48] vincenzodnp commented on #1730
There are more recent updates in the above drupal.org issue tracking.
Maybe it's ok now to update the phpredis library

[2021-07-08 02:35] chandanatk commented on #2158
Related to [#1382](https://github.com/uselagoon/lagoon/issues/1382)

[2021-07-08 06:44] chandanatk opened #2758 "Lagoon UI: Add pagination to the tasks list"
For one of the projects of our customers in AU, which have been around for a while (since 2019), the tasks list has been gone up to nearly 400 and this causes a considerable amount of delay to render the page.

Feature request

Can we add pagination to the tasks list screen, and show perhaps only the most recent ones or a fixed count from the recent ones?

Related to [#1382](https://github.com/use

[2021-07-08 15:25] vincenzodnp opened #2759 "node-persistent openshift template missing pvc storageclass"
# Describe the bug
Here: https://github.com/uselagoon/lagoon/blob/main/images/oc-build-deploy-dind/openshift-templates/node-persistent/pvc.yml#L37-L39 the PVC template is missing the StorageClass (it should be `bulk` because of stateless container).
This prevents the PVC to be bounded correctly to a PV

## To Reproduce

Steps to reproduce the behavior:

1. Set `node-persistent` lagoon.type label
2

[2021-07-08 18:02] cdchris12 opened #2761 "Drush file sync task fails on Drush version 10"
# Describe the bug

When a project using Drush version 10 (and probably Drush version 9, but this is unconfirmed) attempts to run a file sync task from the Lagoon UI, this task can fail with an error like the following:

[code]

This is caused by an upstream change in how Drush' newer versions handle options passed to that rsync command. Namely, only two options are supported there to be configura

[2021-07-12 00:54] shreddedbacon opened #2762 "deployEnvironmentX mutations don't always report errors correctly"
# Describe the bug

When running a `deployEnvironmentX` mutation, if any errors are encountered it doesn't always respond with an actual API error, just a string representation of an error.

Example:
[code]

Running the same against an environment/project that has no access, we get an actual error from the API.
[code]

## Additional context

This was reported against the CLI, but the actual issue

[2021-07-12 09:27] smlx commented on #2238
I rediscovered this via the lagoon-charts issue linked above. I guess this will be fixed when the "central harbor" logic is removed from the `api`?

[2021-07-13 01:59] rocketeerbkw commented on #2744
I'm testing another issue, but locally I'm seeing these same "User not found: [valid UUID]" errors except I don't see any "refreshing expired token" messages before hand.

[2021-07-14 22:25] Schnitzel opened #2764 "Kibana login redirect on too many groups"
Kibana ends up in an endless login redirect if a user has too many groups

[2021-07-14 22:25] Schnitzel commented on #2764
Disccussed in the lagoon tech team sync:
- hash the group names on keycloak and kibana (which is created by lagoon) side to a max of 5 characters

[2021-07-15 00:16] #2703 closed, assigned to nobody

[2021-07-15 01:20] #2708 closed, assigned to nobody

[2021-07-15 01:51] #2759 closed, assigned to nobody

[2021-07-15 05:48] #1964 closed, assigned to nobody

[2021-07-15 06:49] #2751 closed, assigned to rocketeerbkw

[2021-07-15 07:45] tobybellwood commented on #2458
fixed in #2705

[2021-07-15 07:45] #2458 closed, assigned to nobody

[2021-07-20 14:50] #2764 closed, assigned to nobody

[2021-07-20 14:53] vincenzodnp opened #2773 "Update Slack notification's channel graphql not working"
# Describe the bug

Calling the `updateNotificationSlack` fails with error.

## To Reproduce

Steps to reproduce the behavior:

1. Set a GraphQL query like:
[code]
2. See error: ```Unknown column 'channel' in 'field list'\nsql: update `notification_email` set `channel` = 'new-channel' where `name` = 'drupal-example' - parameters:{}",```

## Expected behavior

Slack Notification should have the new

[2021-07-22 08:50] dan2k3k4 commented on #2773
It should be updating the `notification_slack` table and not the `notification_email` table.

[2021-07-22 13:59] cdchris12 opened #2783 "Project names containing `--` cause Harbor account creation to fail"
# Describe the bug

A project which contained `--` as part of its name was finding that deploys always failed. After tracing this back, it looks like the issue is that Harbor does not allow project names to contain `--`.

In order to prevent this from happening in the future, we should run some basic validation on project names to ensure the string `--` does not exist within that project name.

##

[2021-07-28 21:07] seanhamlin opened #2789 "StorageCalc should not run on RWO PVs that are already mounted"
# Describe the bug

I occasionally see storagecalc pods for PVs that are ReadWriteOnce (RWO). StorageCalc attempts to mount the PV in order to do the `du` but fail to get the claim.

![image](https://user-images.githubusercontent.com/10605846/127395906-84b1dec3-b05b-4c5b-ace8-715b683d6fe3.png)

## To Reproduce

Steps to reproduce the behavior:

1. Create RWO PV, e.g. Solr
2. Wait for storageCalc t

[2021-07-28 22:23] twardnw opened #2790 "promote environment CLI pods missing shell environment indicator"
# Describe the bug

Shell prompt on CLI pods in promoted environments are missing the environment indicator

## To Reproduce

Steps to reproduce the behavior:

1. Exec or SSH into the CLI pod in a `promote` deployed environment
2. Check the shell prompt

## Expected behavior

All deployed environments should have the indicator in the shell prompt

## Screenshots

`branch` deployed environment

![S

[2021-07-28 22:26] twardnw opened #2791 "implement a project-level router pattern"
It would be super handy for some clients that have a managed CDN to be able to set up a project level router pattern. This would ideally live as a project level setting in the API.

[2021-07-28 22:33] tobybellwood commented on #2790
ah, we'd have to treat promote envs specially, as they don't have a `$LAGOON_GIT_BRANCH`
https://github.com/uselagoon/lagoon-images/blob/20ab3e196ae7fddc672b2de249db98106b0c25ba/images/commons/.bashrc#L29

[2021-07-29 06:55] vincenzodnp commented on #2789
I saw the same issue and I was prepping a PR by setting an `interpod-affinity` rule and be sure `storagecalc` pod is scheduled in the same node where `solr` pod is.
The idea is to modify the helmchart and add something like
[code]
I'd use `preferredDuringSchedulingIgnoredDuringExecution` instead of `requiredDuringSchedulingIgnoredDuringExecution` because `storagecalc` must run even if  any Solr po

[2021-08-03 13:57] Schnitzel opened #2795 "do not set certificate for `tls-acme: false` Ingress unless there is one"

[2021-08-03 22:53] bomoko commented on #2670
Issue fixed in #2671

[2021-08-03 22:53] #2670 closed, assigned to nobody

[2021-08-03 22:54] bomoko commented on #2601
fixed in #2602

[2021-08-03 22:54] #2601 closed, assigned to nobody

[2021-08-03 22:55] bomoko commented on #2576
@tobybellwood - I think we can close this?

We need to rework the harbor integration completely either way.

[2021-08-04 02:03] smlx commented on #2795
The reason for this is that it causes extra work for the ingress controller since it has to check for the secret, realise it is missing, log an error message, and then use the default certificate.

We need to only reference the TLS secret in the ingress if it already exists or will be created by cert-manager. So only if:
* it already exists in the namespace; or
* `tls-acme: true`

Maybe we should

[2021-08-09 18:06] timclifford commented on #2740
WIP: https://github.com/uselagoon/lagoon/pull/2800

[2021-08-09 22:12] shreddedbacon commented on #2791
Currently we inject the openshift/kubernetes scoped `routerPattern` into the build spec here: https://github.com/uselagoon/lagoon/blob/main/node-packages/commons/src/tasks.ts#L303

What you could do is add a new field to the project type that is `routerPattern`. Then just update the logic in `tasks.ts` to check if a project `routerPattern` has been defined, and inject that instead.

EDIT: The buil

[2021-08-09 23:14] tobybellwood commented on #2791
ALso #2573 #2574 and #2666 probably relevant here if we're looking at router patterns

[2021-08-10 03:49] smlx commented on #2740
Since the existing `lagoon-logs` are already used for another purpose, should we maybe create a new `audit-logs-` prefix instead?

[2021-08-10 03:50] smlx commented on #2791
~What if we just have `router-logs-*` as the only pattern, and then you can filter by `lagoon.sh/project` label?~

edit: wrong thing, sorry for the noise

[2021-08-10 03:54] shreddedbacon commented on #2791
I think that is a different issue, this pattern is for customising autogenerated routes router patterns that are used when creating the ingress.

[2021-08-10 12:31] Schnitzel commented on #2740
@smlx
I would really like to prevent to create another index in elasticsearch, we already have way too many indexes on our elasticsearch clusters.
also for me these are lagoon-logs, no? like who created a project in lagoon would be a log of lagoon?

[2021-08-11 02:11] smlx commented on #2740
I guess they are, but the problem is that the fields do not match. Elasticsearch is designed around homogenous logs with the same set of fields in each record, but the existing fields in lagoon-logs will not match audit-logs. lagoon-logs currently just contain build logs, don't they?

[2021-08-11 03:38] tobybellwood commented on #2740
There may also be a requirement to keep audit logs for a different retention period, which may be easier in ILM with a different index?

[2021-08-11 12:18] Schnitzel commented on #2740
no, they include much more, basically every time `sendToLagoonLogs` is called in the services it creates a lagoon-log entry: https://github.com/uselagoon/lagoon/search?q=sendToLagoonLogs
so for example every deployment success/failure, every webhook, etc is logged. The problem is that in the past they have not been logged with the userID that triggered the action.

So for me the "audit-logs" are j

[2021-08-11 18:27] bryangruneberg commented on #1126
It would be cool if the build process could be described in stages, and for metrics to be kept on those stages.

[2021-08-11 18:29] bryangruneberg commented on #1126
It would be very helpful if the container image creation could be tracked somehow.

With sites that are statically generated, the container build time can get heavy and long, and it would be really helpful to know which steps in the container build are taking the longest.

[2021-08-17 13:30] cdchris12 opened #2807 "API request logs should include audit information"
In order to be able to better understand where every Lagoon request comes from and support future auditing efforts, we should add the following data to each request log wherever possible:

- IP the request originated from
- ~Lagoon user which made the request (or a value which can be uniquely mapped to a single user)~ Already completed in #2690

[2021-08-17 13:43] Schnitzel commented on #2807
there is https://github.com/uselagoon/lagoon/pull/2690 which has been merged and https://github.com/uselagoon/lagoon/pull/2800 which improves on this.
Does this satisfy the requested features of this ticket?

[2021-08-17 13:49] cdchris12 commented on #2807
#2690 Does indeed cover the user identification portion of this requirement. I do not see any inbound IP information being recorded there or in #2800, though.

[2021-08-17 14:05] timclifford commented on #2807
@cdchris12 I think I can try detect the request ip address inside the express middleware - will take a look

[2021-08-17 15:45] timclifford commented on #2807
@cdchris12 added ip address to user logs, which will look for http headers from 'x-forwarded-for,
x-forwarded, x-client-ip, fastly-client-ip' and also the 'request.connection'

![image](https://user-images.githubusercontent.com/2339381/129757608-4ce900e9-047d-4d95-9bab-daf010fcc013.png)

[2021-08-17 15:48] timclifford commented on #2807
https://github.com/uselagoon/lagoon/pull/2800/commits/1ced821270df379afec941f743c8bd8928f2daf8

[2021-08-17 16:04] cdchris12 commented on #2807
@timclifford That looks good for this issue. Feel free to mark your PR as closing this issue :)

[2021-08-18 19:07] dasrecht opened #2808 "Show cluster name in project overview"
It would be helpful for Support and for the Customers as well to see the cluster name where the site is running

This has a few benefits in that it's easier to find out where the site is running and as if there are several clusters for a region (e.g. us1, us2) it's easier for customers to discover where the site is running and cross-reference it on the status page.

[2021-08-18 20:23] KorvinSzanto opened #2809 "Lagoon API reporting environment services that aren't running."
# Describe the bug

The graphql API will sometimes report services that aren't running.

## To Reproduce

Not sure how to reliably replicate but I have a deployed environment that shows the issue on my lagoon remote.

## Expected behavior

A query like
[code]
should only return services that are actually running.

## Screenshots
Note that the API reports 2 CLI processes with different IDs

![Scree

[2021-08-18 20:38] rocketeerbkw commented on #2809
The `services` is not a realtime list of running services, only a list of services types that have been deployed. The list is only [updated when a deployment finishes](https://github.com/uselagoon/lagoon-one/blob/85d36a24d3bb82fb327a82c822e5cd8b80543537/services/controllerhandler/src/index.ts#L197-L198). It's only purpose (at the moment) is to allow the task system to [show/hide tasks that can/can

[2021-08-18 20:38] #2809 closed, assigned to nobody

[2021-08-18 20:42] KorvinSzanto opened #2810 "Lagoon API doesn't return IDs for added deploys"
# Describe the bug
The API provides several different methods to add a deploy but they each have their faults.

- `deployEnvironmentLatest`: Works great for starting deploys and is actually nicely versatile when it comes to specifying which environment to deploy. Only issue is it gives no output beyond a string `"success"` so you have no way to track /which/ deployment was created.
- `deployEnviro

[2021-08-18 20:46] rocketeerbkw commented on #2810
I think this is a duplicate of #2652?

[2021-08-18 21:19] KorvinSzanto commented on #2810
Totally forgot I opened an issue for this earlier. Should've searched harder sorry!

[2021-08-18 21:19] #2810 closed, assigned to nobody

[2021-08-18 22:45] tobybellwood commented on #2652
FYI - we're currently working on an additional :scream: kind of deployment (bulk triggered) - that will define the ID on the trigger and pass it to the deployment, which can then follow the deployment through the process - we should be able to roll this out to more deployment types to allow for easier retrieval.

[2021-08-19 01:22] #2483 closed, assigned to nobody

[2021-08-19 03:06] #2807 closed, assigned to nobody

[2021-08-19 19:20] #2773 closed, assigned to rocketeerbkw

[2021-08-19 19:43] #2791 closed, assigned to nobody

[2021-08-19 19:51] rocketeerbkw opened #2812 "API fields should return ENUMs if their mutations accept ENUMs?"
We have a number of ENUMs defined for different fields but at the moment they are only used in mutations. It makes sense to validate input in this way but when you query for data our api usually only hints that a `string` will be returned. From an API consumer perspective, I think I'd like to know that if a field can only return a set of specific values.

This would be a BC break, but other than t

[2021-08-20 02:17] #2783 closed, assigned to nobody

[2021-08-20 03:33] #2655 closed, assigned to bomoko

[2021-08-24 02:28] tobybellwood opened #2816 "Support Kubernetes 1.22"
To fully support Kubernetes 1.22, a number of services across Lagoon will need to be updated to adopt the deprecations in 1.22 (https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-22)

Kubernetes API Docs 1.22 (https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.22)

We should also update all these charts to run on Kubernetes 1.19 minimum for compatibility.

At this s

[2021-08-25 20:17] jaimed-amazee opened #2817 "kbd controller unable to cancel builds in Openshift 3"
# Describe the bug

It looks like the operator can't correctly cancel build on Openshift 3.

## To Reproduce

Steps to reproduce the behavior:

1. Go to a project on Openshift 3
2. Click on running build
3. Attempt to cancel
4. See error

## Expected behavior

The build should successfully cancel

## Additional context

Logs:

[code]

[2021-08-30 15:52] Schnitzel opened #2823 "CI: service images are cached from previous builds?"
something strange is happening on our CI system, I'm not sure if this is an edge case or an actual issue.

The situation is this:
- we merged https://github.com/uselagoon/lagoon/pull/2797 11 days ago
- since then the ci tests all where able to install lagoon-core
- running it locally with a complete fresh build cache, we had an error:
[code]
- but running the latest `testlagoon/keycloak-db:main` (

[2021-08-31 08:08] tobybellwood commented on #2823
I've looked at this a little bit, and still trying to get my head around the best way.

obviously adding `--pull` into the docker build command would always refresh from the upstream, but `docker build --pull` errors with local-only images :cry:

The other way would be to clear out all images ahead of a build (as we do for tag builds) - but I'm still not entirely clear that this actually removes a

[2021-08-31 09:57] tobybellwood commented on #2823
I also looked at containrrr/watchtower but that only worked on running containers.

We can maybe repurpose the script used in docker-host to refresh the non-Jenkins ones.

[2021-08-31 15:35] smlx commented on #2823
here's a hack, maybe we can put something like this into the Jenkinsfile?
[code]

[2021-08-31 22:04] tobybellwood commented on #2823
of course, we could probably mitigate this by pinning the images - I hear there are some wise words in https://dev.to/uselagoon/automating-updates-from-upstream-source-images-20ee :grinning:

[2021-09-01 07:30] shreddedbacon opened #2826 "feat: active/standby environment checks"
when setting `productionEnvironment` or `standbyProductionEnvironment`, we should check if the environment already exists before setting the value, as there is no way to "update" an environment from development to production if different RDS etc are in use.

[2021-09-01 21:56] Schnitzel opened #2827 "Road to first class routes in lagoon api"
1. create new lagoon environment variable which expects a json object the same structure as the `routes` key in the `.lagoon.yml` which is passed to lagoon-build-deploy pod and then merged with what is found in the `.lagoon.yml` for the environment. This is a bit risky but the easiest to implement.
2. implement route objects in lagoon api and pass them to lagoon-build-deploy pod which then merges

[2021-09-02 05:14] tobybellwood commented on #2521
ok - a quick update, as this is getting close now (I did a heap of work on this over the last month, but have been dragged away again):

* I've created a whole new set of base images for pygmy-go (code at https://github.com/tobybellwood/docker-haproxy/tree/dev currently) - once we're happy with testing, we'll merge these back into the main amazeeio/* images
  - tobybellwood/haproxy:multiarch
  - t

[2021-09-03 03:12] ajaxmac commented on #2521
@tobybellwood Thanks for the update. I am keen to test this out, as I am blocked after purchasing a new M1 iMac, and I cannot run my lagoon based projects.

I pulled the dev branch of the `docker_haproxy` repo you listed above. And ran `docker compose up` and it all went well until I got a

[code]

When I run
[code]

There's nothing listening on port 443.

If I get this up and running. How do I in

[2021-09-03 03:30] tobybellwood commented on #2521
I'm going to assume that there's another pygmy running somewhere using 443 (docker ps | grep 443) - it doesn't show in lsof :scream:

The best way to test it is to get my pygmy-go fork built - that will pull the correct images in from upstream.

If you're already running pygmy (or pygmy-go) make sure to stop them first

These steps should get it up and running - make sure to use the correct binary

[2021-09-08 03:49] smlx opened #2830 "Outdated fields defined for index patterns"
The Opendistro Security client hard-codes a selection of fields which are now outdated on non-openshift clusters.

In fact, I don't know if we need to define these at all since the fields should be generated automatically when the index pattern is created? I'm not sure about this though, it probably needs some experimentation.

https://github.com/uselagoon/lagoon/blob/a4c753370d84b51ba036d558bc083

[2021-09-08 10:55] Schnitzel commented on #2830
if we get an updated index-pattern for the new fields we can create a PR and run the sync script with the overwrite flag: https://github.com/uselagoon/lagoon/blob/a4c753370d84b51ba036d558bc083880883729dd/services/api/src/resources/group/opendistroSecurity.ts#L22
this will then replace the index pattern in kibana with what is in the code

[2021-09-08 23:30] seanhamlin opened #2832 "Cronjobs will never schedule on minute 59"
# Describe the bug

Discovered when I was doing some work to patch existing cronjobs, but at present the code that translates the

https://github.com/uselagoon/lagoon/blob/main/images/kubectl-build-deploy-dind/scripts/convert-crontab.sh#L10-L20

[code]

The sign `%` in bash is modulo, which will only ever produce results `0` through to the operand - 1. So in this case, `0-58`.

This is not ideal.

[2021-09-10 11:26] timclifford commented on #2761
[Lagoon-sync](https://github.com/amazeeio/lagoon-sync) is also a potential tool you could use to sync files as a workaround for now.

[2021-09-11 22:58] iijiang commented on #519
@VladBo  same here, 172.16.172.16 works.
@AlexSkrypnyk
@Schnitzel

I am not sure I understand this issue.  https://github.com/amazeeio/pygmy/blob/267ba143158548628f190f05ecb5cb2c19212038/lib/pygmy/resolv_osx.rb#L26

I still have this issue https://github.com/uselagoon/lagoon/pull/2002

host.docker.internal doesnt resolve.

`nslookup host.docker.internal
Server:         192.168.0.1
Address:

[2021-09-11 23:19] iijiang commented on #1088
https://github.com/uselagoon/lagoon/issues/519#issuecomment-917498085
not sure the problem, looks like I still have this problem.

[2021-09-12 13:45] rocketeerbkw commented on #519
@iijiang I've recently tested xdebug in our latest images and they are working correctly. Can you please follow our [setup instructions](https://docs.lagoon.sh/lagoon/using-lagoon-advanced/setting-up-xdebug-with-lagoon) and go through all the [troubleshooting steps](https://docs.lagoon.sh/lagoon/using-lagoon-advanced/setting-up-xdebug-with-lagoon#troubleshooting)? If it still doesn't work, please

[2021-09-13 22:51] Schnitzel opened #2835 "Improve Build Logs"
outcome of discussion with @shreddedbacon @tobybellwood @Schnitzel

- build controller & build pods have a new system to communicate to each other when the build pod has reached a milestone (building images, pushing images, etc.)
- build controller sends partial logs from build pods through the existing build logging system, if build is not complete controller will add "to be continued" text (need

[2021-09-13 22:53] Schnitzel opened #2836 "Realtime logs and pod statuses in lagoon api/ui"
- Creating a cluster agent in lagoon-remote which connects back to lagoon-core (see rancher)
- lagoon-core creates a proxy tunnel to the target k8s cluster through the cluster agent
- lagoon-core authenticates k8s api requests with lagoon-core authentication
- lagoon ui will talk regular k8s api to lagoon-core to load pod/build logs, pod infos, etc.
- lagoon-core has an allowlist of which commands

[2021-09-21 22:02] seanhamlin opened #2842 "Indicate when backups/task list is truncated"
In order to improve the performance of certain Lagoon UI screens, the lists were truncated. See https://github.com/uselagoon/lagoon/pull/2771

A nice UX change to improve the quality of life of developers (in lieu of actual pagination) would be to indicate that the list is truncated (when the number of backups/tasks exceed the limit).

There is a PR for this https://github.com/uselagoon/lagoon/pul

[2021-09-22 06:37] smlx opened #2844 "Improve Opensearch compatibility"
Opensearch and Opensearch Dashboards is the open source successor of Opendistro Elasticsearch and Kibana. Since Opendistro is no longer maintained Lagoon will have to migrate to the Opensearch stack going forward.

Lagoon has a couple of compatibility issues dealing with the Opensearch stack vs Opendistro. Here are the problems that I've noticed from running the current `opendistro-sync` script:

[2021-09-24 00:46] tobybellwood opened #2846 "Using the same Dockerfile for two services can confuse Lagoon"
Using the same Dockerfile to build two different services in a Lagoon project (because reasons), results in the docker-host tagging them all from the same sha (expected)

In this case nginx and nginx-no-autogen share the same dockerfile

[code]

When Lagoon creates the spec.containers.image field, it adds both the images (with matching digests) - and therefore fails to pull the image (with an inva

[2021-09-24 00:56] tobybellwood commented on #2846
Noting that it also occurs with differently named, but identical Dockerfiles.

[2021-09-24 01:45] tobybellwood commented on #2846
After investigation, not quite so dire - this will only impact if the two images also regex to each other - i.e
`registry.192.168.224.3.nip.io:32080/ci-nginx-control-k8s/nginx/nginx` will also return
`registry.192.168.224.3.nip.io:32080/ci-nginx-control-k8s/nginx/nginx-no-autogen`

The RepoDigests returned by `docker image` at https://github.com/uselagoon/lagoon/blob/main/images/kubectl-build-depl

[2021-09-24 15:48] twardnw opened #2847 "Lint docker-compose.yml and .lagoon.yml at beginning of deployment"
It would be very handy to just do a simple lint of the yaml files at the beginning of the deploy. If there is an error in these files and the build-deploy script catches it, the error it produces is quite cryptic. A quick lint with yq would at least expose the line number of the error

[2021-09-27 05:47] tobybellwood opened #2848 "Inconsistencies and double-ups in the kubectl apply process"
following the build-deploy-docker-compose logic for a service deployment, I've realised where we can make some improvements

Given a project with a full slate of compose_services (ingress, service, dbaas, persistent storage etc..)

The service is pulled out and used to template a compose_service-specific yaml file `$YAML_FOLDER/${SERVICE_NAME}.yaml` here (https://github.com/uselagoon/lagoon/blob/m

[2021-09-27 20:33] bryangruneberg commented on #2680
@tobybellwood @cdchris12 @rocketeerbkw - Is ther and ETA on when this will find its way into Lagoon?

[2021-09-29 08:32] smlx opened #2850 "Possibly unneccessary requests to Lagoon API from Dashboard"
# Describe the bug

Opening a Lagoon Dashboard build page in a browser tab causes repeated regular requests to the `/graphql` API. This even occurs on pages which appear to be completely static and where builds are complete and logs are fully loaded.

## To Reproduce

Steps to reproduce the behavior:

1. Open a build page in the Lagoon Dashboard.
2. Watch the network requests made by the page.
4.

[2021-09-29 09:10] timclifford commented on #2850
These are GraphQL subscriptions polling for changes over websocket connections which pulls in new build information automatically and seems the throughput is too high for node to handle. Although from the screenshots it looks as if multiple connections are opening , where I assumed there should only be 1 per client 🤔 .  Perhaps we can look at setting up [this](https://github.com/apollographql/grap

[2021-09-30 08:28] Feng-Shui commented on #2521
I've got the stack running locally but I can't get pygmy to add my ssh key, I've posted a comment on a similar issue in Karl's original repo and tagged you in it:

https://github.com/fubarhouse/pygmy-go/issues/312#issuecomment-931025435

[2021-09-30 08:44] Feng-Shui commented on #2521
`pygmy-apple` can add my key but interestingly, I seem to have lost ssh access to Lagoon instances.  "no access to [project]-[env]".

I was seeing some ssh errors early this morning when trying to push/pull/fetch from govCMS GitLab (approx 5:30am).

[code]

That's not an issue tonight, but I wonder if there's some other ssh weirdness going on today?  Will check again in the morning.

[2021-09-30 22:25] #2680 closed, assigned to cdchris12

[2021-09-30 23:25] #2842 closed, assigned to nobody

[2021-10-01 00:36] #2832 closed, assigned to nobody

[2021-10-01 02:22] ocean commented on #2521
@Feng-Shui Has your account expired in GovCMS GitLab?

Also, I'd say move to @tobybellwood 's `pygmy-go` installation on your M1 now, it's more up to date than mine:

https://github.com/tobybellwood/pygmy-go/tree/arm_testing

[2021-10-01 08:43] Feng-Shui commented on #2521
Nah, it was an issue with the SSH pods, was resolved this morning.

Toby's fork is what I tried to get running last night, it all worked except it wouldn't add my ssh key, although based on that issue in Karl's repo, I'm not sure if it's the fork or not.

I'll have a bit more of a poke around this weekend.  At this point, I'm running on your pygmy-apple and Toby's multiarch Lagoon images.

[2021-10-01 08:55] tobybellwood commented on #2521
Thanks both - we're soooo close to releasing - just ironing a couple of last problems out!

[2021-10-01 14:50] ocean commented on #2521
@tobybellwood Great to hear! Anything I can take a look at that you'd like a random extra viewpoint on?

[2021-10-02 19:42] Feng-Shui commented on #2521
Morning, have done some testing on the new images and I'm seeing some performance issues with the mariadb image.

Running a db-write-heavy set of drush commands on the testlagoon images (`testlagoon/mariadb-drupal: arm64-images`) I'm getting a execution time of 951 seconds, switching out mariadb for `oceanicgovcms/mariadb-drupal` (and keeping the rest of the `testlagoon` images) this drops to 451

[2021-10-02 20:05] tobybellwood commented on #2521
@Feng-Shui how about with the `testlagoon/mariadb-10.5-drupal:multiarch` ?

[2021-10-02 20:06] Feng-Shui commented on #2521
Will test now and let you know.

[2021-10-02 20:22] Feng-Shui commented on #2521
469 seconds with `testlagoon/mariadb-10.5-drupal:multiarch` 🚀

[2021-10-02 20:27] tobybellwood commented on #2521
the `mariadb-drupal` image without the version number is still pointing at 10.4, but we're going to try to move people onto versioned images (because they're much safer) - so that one in particular isn't slated to be made multi-arch, so you were seeing the amd64 image via the emulation.

[2021-10-02 20:29] tobybellwood commented on #2521
We've got a *lot* of documentation to do about this change, because we only want people to have to change tags once, and hopefully make everyone's lives easier!

[2021-10-04 02:09] christopher-hopper opened #2853 "Broken hyperlink to Kibana on Logging page"
# Describe the bug

The Kibana hyperlink markdown on the Logging page is malformed. I can see that someone was trying to escape the brackets but this must've been URL encoded incorrectly.

## To Reproduce

Steps to reproduce the behavior:

1. Go to https://docs.lagoon.sh/lagoon/logging/logging
2. Click on https://logs.amazeeio.cloud/
4. See error `{"statusCode":401,"error":"Unauthorized","message"

[2021-10-04 17:09] lind101 commented on #2827
Hey all,

We would love to see this implimented! Let me know if you need any help testing!

[2021-10-05 00:37] tobybellwood commented on #2853
fixed in #2852

[2021-10-05 00:37] #2853 closed, assigned to nobody

[2021-10-05 00:39] bomoko opened #2855 "Incorporate arguments as part of Custom Tasks"
Presently, Custom Tasks do not allow or incorporate the possibility of user input - for instance, there is no way of defining a drop down of environments to pass through to a task at invocation time. As such, custom tasks are presently run-and-done with very little flexibility.

The proposal here is at the point of [defining the task](https://docs.lagoon.sh/lagoon/using-lagoon-advanced/custom-task

[2021-10-05 20:32] twardnw commented on #2666
@tobybellwood , would it be possible to have this assigned in the near future? I have a customer where we've hacked a fix for this and they are operating from an out-of-date fork, but are now seeing issues around the length of FQDNs being generated with the customized seperator. I'd like to not have to fix that with another hack of their build-deploy script :D

[2021-10-11 02:57] brett-sargeant opened #2861 "Prevent long running (failed) deployments where practical"
It would be useful if there was a way to be notified of long running deployments once they reach a certain time limit. Or for a central service desk to to be notified (for example GovCMS)

![image](https://user-images.githubusercontent.com/42017163/136726875-45bd6c53-00b8-44cd-8d64-f577b194c48e.png)

[2021-10-11 03:15] tobybellwood commented on #2861
We're looking at this currently - one of the things we're aiming to implement is a periodic status update (likely with attached logs) - so at least you'd know where it was stuck/broken.  They very rarely run >1h long without a configuration/build error.

[2021-10-13 23:13] tobybellwood commented on #1595
closed in #2311

[2021-10-13 23:13] #1595 closed, assigned to twardnw

[2021-10-13 23:14] tobybellwood commented on #2382
no longer required

[2021-10-13 23:14] #2382 closed, assigned to nobody

[2021-10-14 01:19] shreddedbacon opened #2863 "Unable to disable autogenerated routes on a specific environment"
Our documentation says how we can enable autogenerated routes on a specific environment [here](https://docs.lagoon.sh/lagoon/using-lagoon-the-basics/lagoon-yml#environments.-name-.autogenerateroutes) but it isn't possible to enable autogenerated routes for all environments, but disable them on a specific environment.

Looking at the logic [here](https://github.com/uselagoon/lagoon/blob/740b8a5b1da

[2021-10-14 03:12] #1469 closed, assigned to nobody

[2021-10-14 03:41] #2835 closed, assigned to nobody

[2021-10-14 16:25] twardnw opened #2864 "Incorrect regex prevents some autogenerated routes from receiving x-robots-tag header on production environments"
This commit : https://github.com/uselagoon/lagoon-images/commit/f5975f5279e75ad288434260f8f0c356e18eec49
includes a line-end anchor in the string match, which causes only the last auto-generated route to receive the x-robots-tag header on production environments.

[2021-10-14 16:26] twardnw commented on #2864
Rather than a simple string comparison, a good option would be to split the LAGOON_AUTOGENERATED_ROUTES string into an array, and then compare the current request hostname against the values in the array

[2021-10-14 20:35] twardnw opened #2865 "Replace lua scripting for x-robots header with annotation on ingress objects"
We could get rid of https://github.com/uselagoon/lagoon-images/blob/main/images/nginx/helpers/100_x-robots-header-development.conf by bringing this logic into the build and adding this annotation to the ingress object

[code]

[2021-10-14 21:57] twardnw commented on #2864
Closing this in favor of handling this directly on the ingress objects, via #2865

[2021-10-14 21:57] #2864 closed, assigned to nobody

[2021-10-14 22:17] Schnitzel commented on #2865
as we want these headers only for autogenerated routes and we know exactly which autogenerated routes are created from the helmcharts (basically all ingress objects, except the one for the `custom-ingress`), we could just add it here directly into the ingress object of all autogenerated routes, example for nginx:
https://github.com/uselagoon/lagoon/blob/main/images/kubectl-build-deploy-dind/helmch

[2021-10-14 22:19] twardnw commented on #2865
We do need to inject it on `custom-ingress` of development environments though, so for those we will need to make sure we're not obliterating any custom annotations that customers might be setting

[2021-10-14 22:27] tobybellwood commented on #2865
I'm just testing this now
[code]

I can't see anywhere else that we use server-snippet (it only allows one - https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#server-snippet)

[2021-10-14 22:30] twardnw commented on #2865
We don't, but clients can via their .lagoon.yml, and there is no limit on which annotations they can add, so it is feasible that some are adding their own `server-snippet`

https://docs.lagoon.sh/lagoon/using-lagoon-the-basics/lagoon-yml#ingress-annotations

[2021-10-14 22:35] Schnitzel commented on #2865
@twardnw
but that's only for custom ingress/routes.
customers cannot modify autogenerated ingresses and we want the headers only with these?

[2021-10-14 22:35] twardnw commented on #2865
On `development` environment we set the x-robots header on _all_ ingresses

[2021-10-14 22:36] Schnitzel commented on #2865
oooh, disregard, I found that we add the headers in two cases:
1. all autogenerated routes
2. all development environments

Edit: what @twardnw said

[2021-10-14 22:41] Schnitzel commented on #2865
so yea, it's possible for the customer to add this to their `.lagoon.yml`
[code]
which then would overwrite all `server-snippets` that lagoon has added.

I could imagine two possibilites:
1. we document that if a customer uses `nginx.ingress.kubernetes.io/server-snippet` in the `.lagoon.yml` that they need to add the `add_header X-Robots-Tag "noindex, nofollow";` by themselves
2. we merge any stuf

[2021-10-18 01:33] shreddedbacon opened #2874 "Restore object name is not unique"
When a restore is created, it is generated with name that is not actually unique. This can cause issues if a restore is re-run a second time. Ideally this name should have something to allow it to generate additional uniqueness to prevent clashing.
https://github.com/uselagoon/lagoon/blob/b4bca1afaf8a9a2c99dfdc10a5e6e16c69bcc613/node-packages/commons/src/tasks.ts#L910

See this issue for further i

[2021-10-18 03:26] #2547 closed, assigned to nobody

[2021-10-18 03:26] #2874 closed, assigned to nobody

[2021-10-18 03:55] #2865 closed, assigned to nobody

[2021-10-18 18:24] Schnitzel commented on #2666
so in my understanding this is what we would need to do:

Currently the creation of the autogenerated ingress host happens on two places:
in the lagoon api you can define on the openshift or project object the router pattern which looks something like: `${environment}.${project}.test1.amazee.io`

1. to generate the environment and project host happens inside lagoon kbd:
https://github.com/amazeeio

[2021-10-18 19:22] twardnw commented on #2666
One part of this that caught a customer recently is to ensure that when the separator is _not_ a `.` to shorten the string to a DNS safe length

[2021-10-18 20:57] Schnitzel commented on #2666
discussed in lagoon tech meeting:
- remove logic from kbd
- add replacement logic (service, environment, project) to helmcharts
- add lagoon core upgrade script that adds `${service}.` to all routerPatterns
- add validator to `routerPattern` in lagoon core api that checks that the routerPattern has `${service}` `${environment}` `${project}` defined in it
- update documentation

[2021-10-18 21:33] Schnitzel commented on #469
we talked about this again during lagoon tech sync:
- the easiest and highest adding of security would be to encrypt the env variables in the lagoon api db and decrypt them when they are loaded.

[2021-10-20 01:17] rocketeerbkw commented on #2451
Fixed in #2459

[2021-10-20 01:17] #2451 closed, assigned to justinlevi

[2021-10-20 01:28] rocketeerbkw commented on #1739
Closing this as duplicate since the newer issue has been referenced more times #2321

[2021-10-20 01:28] #1739 closed, assigned to nobody

[2021-10-20 12:37] rocketeerbkw commented on #1696
Same for environment hours and storage, should those also be unblocked? The current system uses the same permission for view and add/update of metrics, so we'd need to create a new permission level to ensure only admins are allowed to mutate.

[2021-10-20 12:48] rocketeerbkw commented on #2158
We did option b in #2763

[2021-10-20 12:48] #2158 closed, assigned to nobody

[2021-10-20 12:53] rocketeerbkw commented on #2758
Display limits were added in #2771. Pagination is a feature that'd we like to add in the future for the entire schema.

[2021-10-20 12:53] #2758 closed, assigned to nobody

[2021-10-20 12:53] rocketeerbkw commented on #2595
Display limits were added in #2771. Pagination is a feature that'd we like to add in the future for the entire schema.

[2021-10-20 12:53] #2595 closed, assigned to nobody

[2021-10-21 03:33] bomoko opened #2882 "Custom sync task - Roadmap"
Presently, we have several hard coded drush tasks for doing syncs of databases across environments. This creates some issues as documented in, for example, #1786.

This issue is a roadmap and thread for discussion for how we are addressing this issue.

**This is the current roadmap**

1. Get custom arguments into Lagoon - this allows us to pass through arguments (such as environment names) to cust

[2021-10-21 05:42] rocketeerbkw commented on #2321
Fixed in lagoon 1.x #2432. Fixed in lagoon 2.x #2494.

[2021-10-21 05:42] #2321 closed, assigned to nobody

[2021-10-21 08:49] smlx commented on #1696
I think the decoupling of hits with the logs backend needs to happen first before making this API more widely accessible. The current structure of the query seems to cause heavy load on Elasticsearch/Opensearch.

[2021-10-27 17:05] twardnw opened #2887 "detect incompatible Solr config during build"
Currently an incompatible Solr configuration will only fail at pod startup, effectively causing a failed build, but the logs go into Kibana in the container-logs index. Rather than completing the build and burying that error, Lagoon should detect this incompatible configuration during the build and add the error to the build log directly.

[2021-10-27 17:12] rocketeerbkw commented on #2507
Duplicate of #2511

[2021-10-27 17:12] #2507 closed, assigned to nobody

[2021-10-28 11:18] rocketeerbkw commented on #2208
Fixed in 2.x with #2387

[2021-10-28 11:18] #2208 closed, assigned to nobody

[2021-10-28 11:20] rocketeerbkw commented on #2319
Fixed in 2.x with #2387

[2021-10-28 11:20] #2319 closed, assigned to nobody

[2021-10-28 11:21] rocketeerbkw commented on #2167
Fixed in 2.x with #2387

[2021-10-28 11:21] #2167 closed, assigned to justinlevi

[2021-10-28 11:23] rocketeerbkw commented on #2338
Fixed in 2.x with #2387

[2021-10-28 11:23] #2338 closed, assigned to nobody

[2021-10-28 11:25] rocketeerbkw commented on #2340
Fixed in 2.x with #2387

[2021-10-28 11:25] #2340 closed, assigned to nobody

[2021-10-28 11:27] rocketeerbkw commented on #2353
Fixed in 2.x with #2387

[2021-10-28 11:27] #2353 closed, assigned to nobody

[2021-10-28 11:49] rocketeerbkw commented on #2379
Fixed in 2.x with #2596

[2021-10-28 11:49] #2379 closed, assigned to nobody

[2021-10-28 11:53] rocketeerbkw commented on #2568
Fixed in 2.x with #2596

[2021-10-28 11:53] #2568 closed, assigned to shreddedbacon

[2021-10-28 11:59] rocketeerbkw commented on #2287
Fixed in 2.x with #2494

[2021-10-28 11:59] #2287 closed, assigned to nobody

[2021-10-28 12:00] rocketeerbkw commented on #2249
Fixed in 2.x with #2494

[2021-10-28 12:00] #2249 closed, assigned to nobody

[2021-10-28 12:02] rocketeerbkw commented on #2234
Fixed in 2.x with #2494

[2021-10-28 12:02] #2234 closed, assigned to rocketeerbkw

[2021-10-28 12:05] rocketeerbkw commented on #2335
Fixed in 2.x with #2494

[2021-10-28 12:05] #2335 closed, assigned to shreddedbacon

[2021-10-28 12:12] rocketeerbkw commented on #2373
Fixed in 2.x with #2397

[2021-10-28 12:12] #2373 closed, assigned to nobody

[2021-10-28 13:00] rocketeerbkw commented on #2279
Fixed in 2.x with #2394

[2021-10-28 13:00] #2279 closed, assigned to nobody

[2021-10-28 13:31] rocketeerbkw commented on #2463
There was a regression in the commit of this issue from #2494 that means it's still not fixed in 2.x. I updated the original PR #2464 to fix it.

[2021-10-28 21:22] twardnw opened #2890 "validate nginx configuration during build"
Currently there is no validation done during Lagoon builds to verify the nginx configuration. This can result in code being pushed which immediately sends the nginx into a crashloop. A simple `nginx -t -f /etc/nginx/nginx.conf` could be run during the build to validate the configuration, as well as show the error in the build log to make it more immediately visible.

[2021-10-30 03:03] #2463 closed, assigned to nobody

[2021-11-02 08:59] bryangruneberg commented on #2246
As we're getting more and more Gatsby projects, this is becoming more important to avoid the reliance on the random.org website service. It would be great to remove this dependency. On Sunday passed random.org went down, and Workshop Orange couldn't deploy or build Gatsby projects using this approach.

In the meantime here's an alternative URL that works as well:
[code]

[2021-11-03 16:20] xantrix opened #2904 "Deployment of branches not configured for deployment on project"
# Describe the bug
Few customers reported that branches not configured for deployment (not present in the `branches` regex string) are deployed anyway

## Expected behavior

honor the `branches` string regex for deployments

[2021-11-03 16:58] Schnitzel commented on #2904
after some research it seems this only happens for environments that have been created in the past and then deleted. The new DeployTarget Logic doesn't check that the environment has already been deleted and just creates it again.
I think this happens here: https://github.com/uselagoon/lagoon/blob/e08be8e274e3fd093f7a103b2cd00a46075b763c/node-packages/commons/src/deploy-tasks.ts#L210

[2021-11-03 20:10] cdchris12 opened #2905 "Automated Creation of Restore Links Broken After v2.2.2"
# Describe the bug

The Lagoon API fails to create a RabbitMQ message for a Restore Job, failing with the following message:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Initiate a baas restore for any project via the Lagoon UI
2. See that the restore operation either fails immediately or runs forever
3. Find the referenced error message in the API pod logs

## Expected behavior

[2021-11-03 20:39] Schnitzel opened #2907 "Remove Harbor functionality from lagoon-core"
Harbor is now handled by lagoon-remote and therefore we can remove it from lagoon-core.
Also we should make sure that we have release notes that explain what is to do when upgrading.

[2021-11-03 20:54] Schnitzel opened #2908 "Incremental Builds Logs"
1. Implement self annotation of build deploy while running when a new step is reached
2. Monitor annotations via build controller
3. controller gets build logs and sends them to logs2s3
4. logs2s3 updates log file in storage, plus updates updates the deployment with no new data (but this will trigger the ui to update)
5. use graphql subscriptions for ui to update when there is an update of the bui

[2021-11-03 20:54] Schnitzel commented on #2835
Follow up: https://github.com/uselagoon/lagoon/issues/2908

[2021-11-04 03:36] #2905 closed, assigned to nobody

[2021-11-04 06:48] tobybellwood opened #2911 "the sql-sync and rsync drush tasks fail on non git-safe branch names"
The drush sync tasks use sourceEnvironment.name to populate the source environment command from the UI.

if this environment contains a period (.) then it is not transposed into the hyphenated (-) version required by drush aliases.

We would need to safetyify this input in the UI if possible.  Not sure whether this has always been the case?

e.g.
[code]

[2021-11-04 08:21] #1786 closed, assigned to nobody

[2021-11-04 10:16] vincenzodnp commented on #2904
@shreddedbacon the same happens with the PR regex.
For example, setting it to `false` allows the creation of environments based on a PR regardless of the PR regex.
ps: the regex envs didn't exist before, so they are brand-new envs

[2021-11-04 11:41] #2904 closed, assigned to nobody

[2021-11-08 06:23] steveworley opened #2916 "Creating group should add the user to the group"
I think this is more a Lagoon concern than the CLI tool - so thought it would be best to create here. Currently when you create a new group it does not assign the user who created the group to the group and as a result they are not able to add any other users to the group.

They can however add the group to projects that they have access to, which makes the process for creating users and groups sl

[2021-11-08 19:58] bomoko opened #2918 "Builds should have access to previous builds' images"
Builds should have access to previous builds' images if they are available.
This functionality can be particularly useful if one is interested in reusing previously built assets etc. from previous deployments.

[2021-11-10 01:27] #1082 closed, assigned to nobody

[2021-11-10 01:27] #2908 closed, assigned to shreddedbacon

[2021-11-12 00:44] seanhamlin opened #2927 "Reduce verbosity in build logs"
# Describe the bug

Spotted in the build logs

[code]

This goes on for maybe 100 lines. It is not relevant to the build.

## To Reproduce

Steps to reproduce the behavior:

1. Perform build
2. Notice logs

## Expected behavior

Only information relevant to the build is output. Potentially add a debug mode for people that need this level of verbosity.

[2021-11-14 20:23] seanhamlin opened #2930 "Reduce debug noise in API pod logs"
# Describe the bug

There is a lot of log noise in the `api` container logs of  `lagoon-core`:

[code]

I roughly guess 99% is the above debug noise, and < 1% is actual useful log information

## To Reproduce

Steps to reproduce the behavior:

1. Tail `api` container logs
2. Notice log noise

## Expected behavior

No debug information emitted

[2021-11-16 07:05] shreddedbacon commented on #2827
We've discussed a proof of concept for getting this in by using an environment variable defined in the API that contains the data structure that would be passed to the build process to create them at the next deployment.

The idea will be that we will merge this into the existing `.lagoon.yml` some how to make sure that the existing process of creating routes through a build remain the same.

I'm

[2021-11-17 06:10] chandanatk opened #2933 "Add support for updates made in Gitlab for user information etc. to correctly update in Lagoon"
Currently, changes made in Gitlab (Other than group permission changes for users) are not updated in Lagoon.

e.g. Updating the email address of a user in Gitlab doesn't update it in Lagoon. Need to create a new Lagoon user and sync it with the Gitlab account using the Gitlab ID, as a workaround.

[2021-11-18 05:21] rocketeerbkw commented on #2933
There are no [system hooks](https://docs.gitlab.com/ee/system_hooks/system_hooks.html) for when a user is changed, so this can only happen with a change to the sync script.

I think managing this could get quite complicated. Lagoon users don't have usernames, the email is the primary identifier. Keycloak and gitlab have usernames and emails. We can probably hack the sync script to search by gitlab

[2021-11-18 07:08] chandanatk commented on #2657
Had another deployment failing with a similar error and succeeded in 3rd attempt

`time="2021-11-18T06:26:42Z" level=fatal msg="Error writing blob: Patch \"https://harbor.ch3.amazee.io/v2/XXX/production/varnish/blobs/uploads/395e2aa2-954d-4f2b-938b-cf8717291635?_state=0_74pJY6sVhdWgIv8624EJj6I1Ab9X3SoiQ8d8bHltR7Ik5hbWUiOiJhZHlheC1pbmZvcHJvL3Byb2R1Y3Rpb24vdmFybmlzaCIsIlVVSUQiOiIzOTVlMmFhMi05NTRkLTR

[2021-11-19 14:43] fjgarlin opened #2937 "Command "ard" is not defined"
# Describe the bug

When running the `drush archive-dump` default UI task, the task appears as `Succeeded` but the info message indicates otherwise: `Command "ard" is not defined.`

This happens on Drupal 9 projects with drush 10 as the command is no longer available for that version of `drush`.

## To Reproduce

Steps to reproduce the behavior:

1. Go to any project with drush 10 and any environm

[2021-11-22 08:51] dan2k3k4 commented on #2937
It seems that there is no archive-dump for Drush 9+
https://github.com/drush-ops/drush/issues/1779

But [this comment](https://github.com/drush-ops/drush/issues/1779#issuecomment-521991645) sounds interesting, maybe it can be ported to Lagoon instead of waiting for Drush to have this feature added back?

[2021-11-24 02:42] #2927 closed, assigned to nobody

[2021-11-25 05:10] #2918 closed, assigned to nobody

[2021-11-25 06:45] #2846 closed, assigned to nobody

[2021-11-29 21:14] #2755 closed, assigned to nobody

[2021-11-29 22:24] rocketeerbkw commented on #1403
This is been open long enough that trying to fix it now would likely cause more problems than it solves. Anyone who had this issue was able to contact support and have their access restored already.

[2021-11-29 22:24] #1403 closed, assigned to nobody

[2021-11-29 22:36] shreddedbacon opened #2949 "Configure Variables and feature flag settings/overrides for Remotes in the API"
We need to identify all feature flags that can be consumed via the current environment variable delivery method.

Things like:
* rootless workload flag envar
* network policy flag envvar
* dbaas overrides
* fastly config
* etc..

The idea is to move these into a new environment or project level configuration that would be used to enable or disable these features, rather than using variables

[2021-11-30 01:11] tobybellwood opened #2950 "Migrate docs to github pages"
We've identified that the current documentation site hosted at gitbook is no longer workable.

We have instead migrated our content back to a mkdocs-compatible format.

This issue will track the tasks required to switch the docs over.

- [x] Create separate branch - [done](https://github.com/uselagoon/lagoon/compare/mkdocs)
- [x] Make all markdown/images mkdocs compatible to build docs - done
- [x

[2021-11-30 04:12] bomoko opened #2951 "Expose event types registered with Lagoon"
It would be useful to have a list of events used internally in Lagoon, and a way of grouping them into types.
For instance, the events

"github:pull_request:opened:handled"
"gitlab:merge_request:opened:handled"
"bitbucket:pullrequest:created:opened:handled"
"bitbucket:pullrequest:created:handled"

are all of the same basic _type_, i.e. "a M/PR was opened" - abstracting this away to an event type l

[2021-11-30 04:15] bomoko commented on #2951
Added the PR above to demo what @shreddedbacon and I have discussed previously.
Would love some feedback on what we might want the ultimate structure of these things to look like.

The proposed workflows system can/will use these event classes to trigger workflows, rather than relying on internal event names.

[2021-12-07 08:43] SyneticDevOps opened #2956 "More configuration options for routes in projects."
TLDR;
- Disable routes on a per service (```routes.services.keycloak.enabled: false``` or something)
- Disable auto route generation per service (```routes.services.keycloak.auto_generation: false``` or something)
- Get routes per service from the API  (something like ```{services: { nginx: { routes: 'https://example.org' }, 'keycloak': { routes: 'https://keycloak.example.org' } } }```)

We have v

[2021-12-07 08:44] jbertoen commented on #2956
+1

[2021-12-07 08:47] tobybellwood commented on #2956
Does this work for you?
https://docs.lagoon.sh/lagoon/using-lagoon-the-basics/lagoon-yml#routes.autogenerate.enabled
[code]

On creating services for the different (non-standard) Lagoon apps - we're looking at ways to better support flexibility in this, the current templating is pretty restrictive around exposed ports etc

[2021-12-07 08:52] jbertoen commented on #2956
This disables autogeneration on all services right? I want it enabled on nginx, but disabled on other route enabled services.

For instance I have 2 nginx containers (for some complicated high tech fancy pancy reason). One is my drupal nginx container, with Domain Access module setup. Which could have like 1-X number of routes (which already works, awesome). The other nginx container is perhaps an

[2021-12-07 09:11] tobybellwood commented on #2956
Hmm, ok - I'll have to check the code (we've *just* rewritten it!) to see if selective re-enable is possible, or if there's a better way!

[2021-12-07 17:32] jbertoen commented on #2956
That would be awesome, it would give more fine grained control about route generation en also minimize the number of letsencrypt certificates that need to be generated on dynamic environments.

[2021-12-07 19:59] seanhamlin opened #2957 "Allow optional configurable limits on RAM for pods"
In a recent event, we saw the PHP max memory limit raised to 800MB. Due to application related issues, we were still seeing PHP OOMs even with this extremely high number. As FPM has 50 threads (by default), this is quite a lot of RAM for just 1 pod. We observed pods regularly trying to use > 20 GB RAM.

This had flow on effects to impact nodes in the cluster. Nodes becoming not-ready. And a lot of

[2021-12-07 23:46] tnelson-doghouse opened #2959 "Make backups "download" to the PV instead of the browser"
As a user, I want to avoid having to download/upload backups.

When a backup has been Retrieved, and is available for Download, it would be nice if it could be "downloaded" into the PV instead of to the user's machine.  I'm thinking with a tgz file in a /restores folder or something.

Advantages:

- This would save the download/upload process (which is a problem from a slower connection, and could

[2021-12-08 00:05] shreddedbacon commented on #2959
Just a few concerns around this.
Not all backups will have a PV that they can be restored to properly (MySQL/MariaDB for example if they are using the shared DBaaS).

Restoring some things to a PV could also have the potential to be served by a web server, depending on the configuration and type of service that the backup is for.

[2021-12-08 01:02] tnelson-doghouse commented on #2959
Also cool (ie. instead of my other suggestion) would be if we could mount an additional PV (readonly) that already has the backup tgz files in it (maybe direct from S3, either a new temporary bucket or the regular one, depending on security implications).  This would mean that:
- Because of the mount point being in a different place (maybe lagoon-restores), the files wouldn't be servable to the pu

[2021-12-08 10:11] tobybellwood commented on #2657
Just had another similar report - this time pulling from imagecache.amazee.io - also redis and varnish images, and on an Azure cluster.

[2021-12-08 22:45] seanhamlin opened #2962 "Support `keepLast` retention in k8up"
k8up supports a retention key `keepLast` https://k8up.io/k8up/1.2/how-tos/schedules.html

If would be nice if there was a way to pass these args into the KBD to then pass into the k8up schedule object.

Related to https://github.com/amazeeio/lagoon-kbd/issues/92

[2021-12-09 01:07] Schnitzel commented on #2962
can you elaborate the idea behind this? also we could make this the default? then we don't have to add additional arguments to KBD, helmcharts, etc/

[2021-12-09 08:27] tobybellwood opened #2964 "Make IMAGECACHE_REGISTRY more configurable/optional"
to allow for self-hosting/bypass, and use it in the helmfile templates for the prebackuppods.

[2021-12-09 21:08] seanhamlin commented on #2962
Yeah sure, so the idea is we have a customer that is looking to create 6 hourly backups. The current retention keys are a little confusing.

We currently can use

[code]

Where I would prefer to have

[code]

To keep the last 3 days worth of 6 hourly backups.

Potentially, likely it would still need to be combo'ed with `keepMonthly` etc if longer term backups are needed.

[2021-12-09 21:22] Schnitzel commented on #2962
mhh I'm not sure I understand, so if you say `create 6 hourly backups` you mean a backup every 6 hours? or do backups every hour and want to keep the last 6 hourly ones?

so assuming you do a backup every 6 hours and you want to keep them the last 3 days (4 backups per day), then `keepHourly: 72` would should work, as the documentation (https://restic.readthedocs.io/en/latest/060_forget.html) says

[2021-12-09 21:28] seanhamlin commented on #2962
Yes I do.

And yes this is achievable with the current functionality, but it did take a lot of reading of restic and k8up docs to discern this. If you feel this is not confusing, then feel free to close this issue.

[2021-12-09 21:33] Schnitzel commented on #2962
I'm more concerned adding a new functionality to a system that already works, I would rather fix actual bugs or implement features that don't work  yet :)

But I let @tobybellwood decide on this

[2021-12-10 17:50] twardnw opened #2965 "allow users to export reports from OpenSearch"
OpenSearch has the ability for users to exports their reports in various formats, but the roles which are created are missing the necessary permissions. It would be fantastic if Lagoon users could run these exports :)

[2021-12-10 17:51] twardnw opened #2966 "have prune-images.sh also remove dangling images"
Discussed with the team this morning, it would be good for the prune-images.sh script to also remove any dangling images after the filtered images are removed.

[2021-12-13 15:10] smlx commented on #2965
Closely related to #2844

[2021-12-15 05:52] poojas16 commented on #1220
I'm having a similar problem.. I included two conf file in app.conf file.
And these 2 conf file are having rewrite_by_lua_block and on starting the nginx server, i got the following error-
2021/12/13 19:02:41 [emerg] 29499#29499: is duplicate in /etc/nginx/redirection_url.conf:3
2021/12/13 19:03:46 [emerg] 30423#30423: is duplicate in /etc/nginx/redirection_url.conf:3
2021/12/13 19:10:35 [emerg] 4

[2021-12-15 08:26] Feng-Shui commented on #1220
@poojas16 if you add another `rewrite_by_lua_block` anywhere in your custom config files you will get this error.  Any code that needs to be executed with `rewrite_by_lua_block` must be to be added to the following file:

https://github.com/uselagoon/lagoon-images/blob/main/images/nginx/helpers/030_rewrite_by_lua_block.conf

[2021-12-16 16:53] rocketeerbkw commented on #1063
Link is dead, closing due to lack of information

[2021-12-16 16:53] #1063 closed, assigned to nobody

[2021-12-19 23:37] #2666 closed, assigned to twardnw

[2021-12-20 02:25] #2966 closed, assigned to nobody

[2021-12-20 12:18] Leksat opened #2970 "Do not send notifications for pushes which do not lead to deployments"
Some time ago, webhook notifications were sent out only for branches which had enabled environments. Later it was changed. Currently notifications are sent for any pushes.

<img width="728" alt="Screen_Shot_2021-12-16_at_15_11_22" src="https://user-images.githubusercontent.com/989015/146765783-a9d8d541-54e1-4da7-acb9-06bbd3cf9e0c.png">

In my case, this does not add any profit, but only increases

[2021-12-21 02:32] shreddedbacon opened #2972 "Permission issue resolving kubernetes for environments"
# Describe the bug

When querying an environments kubernetes resolver, a permission denied is encountered if you are not an admin
[code]

## Expected behavior

It should resolve the same for querying the kubernetes at the project level.

[2021-12-21 20:34] rocketeerbkw opened #2975 "Deprecate then Remove `monitoring_urls`"
We made a change to `.lagoon.yml` with how projects can define which URLs should be used to setup monitoring. The old `monitoring_urls` should be marked deprecated and removed in the next major release.

### Deprecation

- [x] Mark relevant parts of api `@deprecated`
- [x] Update docs https://docs.lagoon.sh/using-lagoon-the-basics/lagoon-yml/#environmentsnamemonitoring_urls
- Remove usages in othe

[2021-12-23 15:01] elistone opened #2978 "Invalid site aliases when environments/branches contain slashes"
# Describe the bug

We tend to create environments based off branches that might contain forward slashes `/`, however doing this seems to break aliases.
For example if you have an environment called `example/test` and you try to copy it's database to another environment you would get the following error:

But example/test is not a valid alias.

## To Reproduce

Steps to reproduce the behavior:

1.

[2021-12-23 15:11] rocketeerbkw commented on #2978
It should [already be replacing `/` with `-`](https://github.com/uselagoon/lagoon/blob/main/services/drush-alias/web/aliases.drushrc.php.stub#L308), you can run `drush @sa` to see how lagoon set the alias.

Please re-open if this is not working though!

[2021-12-23 15:11] #2978 closed, assigned to nobody

[2021-12-29 07:22] shreddedbacon opened #2980 "Save the docker-compose.yml in configmap during builds?"
Currently we save the `.lagoon.yml` into a configmap at the start and end of a build for use in troubleshooting

Should we do the same with the `docker-compose.yml`?

[2022-01-04 02:33] shreddedbacon opened #2981 "Advanced task API queries and permissions problems"
When running the following queries to view advanced tasks, they return null or errors
[code]
This returns an error, where it looks like the SQL query is being provided the wrong value
[code]
---
This query returns null
[code]
[code]

---
When a user with the appropriate permission level (owner) of a project tries to delete an advanced task, they receive a permission denied error:
[code]
[code]

[2022-01-05 00:12] twardnw opened #2983 "New branch push in GitLab does not build environment"
# Describe the bug

When a branch is created and pushed in GitLab, the POST body does not include any commits. This causes an error in webhooks2tasks, and no environment is created

## To Reproduce

Steps to reproduce the behavior:

1. Create new branch of GitLab repo
2. Push branch with _no_ new commits

## Expected behavior

Even when pushing a new branch with no commits, the expected behavior i

[2022-01-05 00:20] Schnitzel commented on #2983
as a workaround you can just create a new empty commit, but yea I think we should fix this, as on github just creating a new branch works.

[2022-01-05 00:28] twardnw commented on #2983
Yes, client is going to use an empty commit for now. Their .lagoon.yml includes tasks to sync the DB over, so having it create on branch push helps prep it for after a developer starts pushing commits and can then more quickly test DB updates, etc.

[2022-01-05 09:57] elistone commented on #2978
Hi thanks for the update, maybe it is just the error message is incorrect then?
I have not had chance to fully confirm this yet but if you do a sync via the UI you see the following error message:

Which implied to me that the alias it was looking for was `@example/test`

[2022-01-06 03:40] seanhamlin opened #2984 "Storage Calculator `oc --timeout` issue"
# Describe the bug

Found in a recent deployment of storage calc

[code]

This was introduced in https://github.com/uselagoon/lagoon/pull/2947/files#diff-d058797fd48142b1e54531e40ab25d6ee5d6eb45046acd064bf7ac3597cea80cR110

## Expected behavior

Storage calculator should run without errors. From reading https://www.mankier.com/1/oc-rollout-status#--request-timeout perhaps the `oc` binary is too ol

[2022-01-06 03:49] tobybellwood opened #2985 "Lagoon should be able to manage configuration (variables etc) for a lagoon-remote inside the API"
rather than setting any remote cluster defaults at the lagoon-remote controller level (or via individual projects), the Lagoon API should be able to hold any necessary configuration per-cluster against the openshift object.

Such examples:
- backup schedules
- imagecache overrides
- feature flags (rootless, network policies etc)

Note that this cannot be used to alter pre-build behaviour (eg names

[2022-01-07 00:10] seanhamlin opened #2988 "Create new Lagoon service type `python-persistent`"
Like `python` but with a PV.

[2022-01-07 02:36] tobybellwood commented on #618
As elasticsearch is no longer bundled into Lagoon, closing the issue here. Integrating Alerting with OpenSearch/ODFE would be a platform-specific implementation

[2022-01-07 02:36] #618 closed, assigned to nobody

[2022-01-07 02:45] tobybellwood commented on #965
This should no longer be an issue

[2022-01-07 02:45] #965 closed, assigned to nobody

[2022-01-07 02:46] tobybellwood commented on #1075
monitoring_urls are now superseded by monitoring_paths

[2022-01-07 02:46] #1075 closed, assigned to nobody

[2022-01-07 02:49] tobybellwood commented on #147
Drush 9/10 aliases are now handled best at the drupal layer, using wildcards.  https://www.github.com/amazeeio/drupal-integrations is a good example

[2022-01-07 02:49] #147 closed, assigned to nobody

[2022-01-07 02:53] #2984 closed, assigned to nobody

[2022-01-07 03:28] rocketeerbkw commented on #2978
@elistone ah, I didn't understand that it was the UI specifically you were having issues with. The slash is only replaced when the alias is generated, but lagoon only "knows" the original environment name. This is also an issue with `.` in the environment name, so you can follow #2911 for updates.

[2022-01-07 03:30] rocketeerbkw commented on #2911
Also an issue with slashes (`/`) in branch name like `feature/1111-new-feature` or `bug/2222-thing-broken`

[2022-01-07 04:15] #2972 closed, assigned to nobody

[2022-01-13 16:54] bomoko commented on #2951
Closing this for now after discussion with rocketeerbkw

[2022-01-13 16:54] #2951 closed, assigned to nobody

[2022-01-17 15:12] smlx commented on #2471
@tobybellwood can this be closed?

[2022-01-17 21:40] bomoko opened #2995 "Move the Database migrations away from Mysql/Mariadb specific implementation"
Currently, altering the database schema is done via a set [of Mysql/Mariadb stored proceedures](https://github.com/uselagoon/lagoon/blob/main/services/api-db/docker-entrypoint-initdb.d/01-migrations.sql) that act as a migration system.

In an effort to (1) make the API database more DB neutral and (2) provide a better developer experience for contributors, it would be good to introduce a migration

[2022-01-17 23:26] rocketeerbkw commented on #2995
Also to (3) allow api-db to run in a sql-as-a-service like amazon RDS instead of as it's own image.

These are the tools I've looked into briefly:

[knex.js](https://knexjs.org/#Migrations)
- Pros
  - Support PostgreSQL, CockroachDB, MSSQL, MySQL, MariaDB, SQLite3, Better-SQLite3, Oracle, and Amazon Redshift
  - We're already using the library as a query builder
  - The schema builder can be used

[2022-01-17 23:37] bomoko commented on #2995
@rocketeerbkw - very nice.

I actually like the idea of running the migrations using knex, given that it gives us some unity across the api. As you point out, though, it's not a stand alone tool. I don't think that's a big deal though.

I also don't think it's too much of an issue that one needs to write migrations rather than have them generated from a schema - especially given something like kne

[2022-01-17 23:44] tobybellwood commented on #2471
now https://github.com/amazeeio/lagoon-idler exists, this can be closed

[2022-01-17 23:44] #2471 closed, assigned to nobody

[2022-01-18 01:28] chandanatk commented on #2657
+1
on an Azure cluster
`time="2022-01-17T23:51:46Z" level=fatal msg="Error trying to reuse blob sha256:adb259581afb1e6d7dd7595bcee919b632310d6a4eea312c56bc335c6e7ff92f at destination: Head \"-storage//docker/registry/v2/blobs/sha256/ad/adb259581afb1e6d7dd7595bcee919b632310d6a4eea312c56bc335c6e7ff92f/data?se=2022-01-18T00%3A11%3A45Z&sig=Icv5WcmgOIPcHDQPbL%2BfEYKUeY0uOmwH608JOD7s4KY%3D&sp=r&sr=b&sv=

[2022-01-18 04:27] smlx commented on #2995
Another big advantage of doing this will be to make migrations up and down unit testable against the supported backend DBs.

[2022-01-18 05:29] #2657 closed, assigned to nobody

[2022-01-19 05:45] tobybellwood opened #2998 "Add ability to define specific IngressClass in Lagoon ingresses"
With changes in https://kubernetes.github.io/ingress-nginx/#what-is-an-ingressclass-and-why-is-it-important-for-users-of-ingress-nginx-controller-now we should consider how best to support multiple ingress-nginx controllers inside a Lagoon cluster

In order to upgrade a Lagoon cluster to Kubernetes 1.22, ingress-nginx 1.x will be needed, which forces this change. The fix identified in https://gith

[2022-01-19 14:32] Schnitzel commented on #2998
nice found! yea that would make sense as we already start to  have clusters with multiple ingress controllers.
The default ingressClassName of the ingress-nginx controller is `nginx`: https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/values.yaml#L106

So I think we should use `nginx` as the default?

Also I think it would be good to define the variable in the build control

[2022-01-21 23:58] twardnw commented on #2965
I spent some time doing a one-off for a client today, and found that in OpenDistro 1.13.2, you must add the `indices:monitor/settings/get` permission at the Index Permissions level. Adding this at the Cluster Permissions level does _not_ allow this permission on the indices a role has access to

[2022-01-24 20:16] rocketeerbkw opened #3000 "Allow backups to restore into cluster defined storage"
In order for the api/ui to generate a secure download link, it needs to know the s3-compatible location and access/secret keys. Currently the api only knows about a single, global, endpoint which means all restores for all clusters have to get sent to a central storage.

In order to allow per-cluster restore storage:

- [ ] Update the api so that the `Kubernetes` type has it's own restore s3 confi

[2022-01-24 20:30] rocketeerbkw opened #3001 "Make `api` the source of truth for cascaded environment variables"
When a deployment of an environment is scheduled, the `api` sends along all the environment variables that have been configured at the project and environment level, then it's up to `kubectl-build-deploy-dind` to determine which variables are "final" and what scope they have. Since this needs to happen multiple times, it leads to a lot of copy/paste of the logic, makes it difficult to override at

[2022-01-24 20:35] rocketeerbkw commented on #3000
Probably related to #2985

[2022-01-24 21:45] tobybellwood commented on #2995
Decision to run with knex migrations inside the API container, using locking to ensure multiple containers don't migrate at the same time. Logic to be  added to determine whether migrations are required (and add option to be run regardless)

[2022-01-24 21:48] tobybellwood opened #3002 "Add API testing via Cypress"
Following on from #1540 we will be adding an API testing framework in Cypress to preform API testing

[2022-01-25 00:59] tobybellwood commented on #3001
Agree - the API should send a build to the remote-controller with a fully resolved set of variables. The controller should be able to provide default/override variables that are applied as-needed to these resolved vars.

[2022-01-25 02:22] rocketeerbkw commented on #3001
I left that for a separate issue since I couldn't remember the specifics that we agreed on, figured this would need to be done either way.

[2022-01-25 19:09] twardnw commented on #2998
It would also be very handy to have different class names for autogenerated vs. custom domains. This would mean the build controller needs to understand if multiple ingress controllers are present, and only assign different class names when there are multiple controllers, it does not appear from the docs that a single controller can watch for multiple class names

[2022-01-26 05:41] bomoko opened #3003 "Rework the stored procedures in the DB to be in line with existing resolvers"
Currently there are a handful of stored procedures used by the API, for instance [here](https://github.com/uselagoon/lagoon/blob/51778508bb7650df5b2ae6cb005c2c5408066451/services/api/src/resources/environment/resolvers.ts#L418).

Until these stored procs are expunged from the DB we're going to have a hard dependency on mysql/mariadb for the API.

The resolvers using these SPs should be reworked to

[2022-01-26 18:03] twardnw opened #3004 "deleting a project does not remove it from groups"
When a project is deleted, performing a query against the API like

[code]
will return a null result in the set. The project ID is also still present in the group in Keycloak.

[2022-01-26 20:45] rocketeerbkw commented on #3004
Duplicate of #1562

[2022-01-26 20:45] #3004 closed, assigned to nobody

[2022-01-27 03:11] tobybellwood opened #3008 "Add cluster-level metadata to the API"
With deploy-targets now available, we should be able to store more information against the Cluster/Kubernetes object - this would allow us to do more UI/filtering work to show users the clusters that are in use for environments beyond the internal name.

[2022-01-31 20:51] #2981 closed, assigned to bomoko

[2022-02-02 20:43] #3008 closed, assigned to nobody

[2022-02-03 03:00] seanhamlin opened #3015 "Maintainers should be allowed to add environment variables at a project level"
# Describe the bug

From https://docs.lagoon.sh/administering-lagoon/rbac/#maintainer

Yet when a maintainer attempts to update the environment variable at a project level, they can delete it, just not add it.

## To Reproduce

Steps to reproduce the behavior:

[code]
## Expected behavior

Maintainers can add environment variables at the project level

[2022-02-03 06:38] #2988 closed, assigned to nobody

[2022-02-04 05:34] #3003 closed, assigned to bomoko

[2022-02-10 23:49] seanhamlin opened #3022 "Archiving a GitLab project should not create a new Lagoon project"
# Describe the bug

At present, when you have a GitLab system hook setup for `Repository update events`, this fires for when a project in GitLab is archived (by [design](https://gitlab.com/gitlab-org/gitlab-foss/-/merge_requests/16610)). Lagoon at present does not seem to be able to discern this archive action, from any other project action.

We are seeing issues now where Lagoon projects are dele

[2022-02-11 00:03] rocketeerbkw commented on #3022
Do we go one step further and say when a project is archived in gitlab, lagoon automatically deletes it?

[2022-02-11 00:16] seanhamlin commented on #3022
I think we can save that for when someone actually deletes the project in GitLab.

[2022-02-14 18:31] twardnw opened #3026 "checkDBaaSHealth is never executed during build"

[2022-02-14 22:31] #3026 closed, assigned to nobody

[2022-02-15 14:58] smlx commented on #1717
@seanhamlin can this be closed?

[2022-02-15 15:00] smlx commented on #1050
This is probably no longer desirable for security reasons. Could you confirm @Schnitzel ?

[2022-02-15 21:02] seanhamlin commented on #1717
Sure can, thanks!

[2022-02-15 21:02] #1717 closed, assigned to nobody

[2022-02-15 22:56] rocketeerbkw opened #3029 "Official keycloak Node.js client library deprecated"
https://www.keycloak.org/2022/02/adapter-deprecation.html

We use [keycloak-nodejs-connect](https://github.com/keycloak/keycloak-nodejs-connect) in the [api to authenticate](https://github.com/uselagoon/lagoon/blob/main/services/api/src/util/auth.ts#L46-L48) keycloak generated jwt tokens. We'll need to use something else in the long term.

Timeline from announcement:
- February 2022: Adapters depr

[2022-02-17 01:41] seanhamlin commented on #1642
This has caused confusion with a customer recently. I would love to see either:

* The button removed
* The button greyed out, with a title "no permissions to perform this action" or similar.

[2022-02-17 16:53] twardnw commented on #2965
We will also need the Cluster level permission `cluster:admin/opendistro/reports/menu/download` on each role

[2022-02-17 20:00] cdchris12 opened #3035 "Lagoon does not support DSA nor ECDSA formatted SSH keys"
Lagoon currently supports only ED25519 and RSA based SSH keys. It shouldn't be too much trouble to add support for DSA and ECDSA formatted keys as well for customers who chose to use this format for their SSH keys.

[2022-02-17 20:05] cdchris12 commented on #3035
It looks like we'd need to update the character matching in the UI here: https://github.com/uselagoon/lagoon/blob/main/services/ui/src/components/SshKeys/AddSshKey.js#L19

We'd also need to update the db fields migration here: https://github.com/uselagoon/lagoon/blob/main/services/api-db/docker-entrypoint-initdb.d/01-migrations.sql#L549

There's also the idea of not tracking the type of an SSH key

[2022-02-17 20:38] cdchris12 commented on #3035
Closing as a duplicate of #2189

[2022-02-17 20:38] #3035 closed, assigned to nobody

[2022-02-17 20:46] shreddedbacon opened #3036 "Support proxies in docker-host"
In some cases, a remote could be behind a proxy, it would be handy to be able to pass in the following variables to the docker-host so it can utilise proxies

* HTTP_PROXY / http_proxy
* HTTPS_PROXY / https_proxy
* NO_PROXY

[2022-02-17 20:55] shreddedbacon commented on #3036
We can handle this in the charts

[2022-02-17 20:55] #3036 closed, assigned to nobody

[2022-02-22 03:38] Schnitzel opened #3044 "rootless initscript changes file permission of persistent storage sometimes to wrong users"
# Describe the bug

So far we found this only on AWS EFS RWX PVCs:
If an environment that was running as root-full and was rsynced without the `--omit-dir-times --no-perms --no-group --no-owner --chmod=ugo=rwX` flags as suggested in https://docs.lagoon.sh/drupal/drush-9/#drush-rsync-from-local-to-remote-environments it was possible that the file permissions of the source were synced to the destina

[2022-02-22 05:53] smlx commented on #1533
https://github.com/keycloak/keycloak/discussions/8593 has some more information, but doesn't look like Keycloak upstream is planning on increasing this limit.

[2022-02-23 04:59] #2965 closed, assigned to nobody

[2022-02-24 01:15] smlx commented on #2189
Lagoon should also support the FIDO/U2F key types `ecdsa-sk` and `ed25519-sk`.
https://www.openssh.com/txt/release-8.2

[2022-02-24 02:31] tobybellwood commented on #2189
As long as the key type is parsable by [sshpk](https://github.com/joyent/node-sshpk) - it should be easyish to add in.

I'm not sure that the *-sk are supported by sshpk, so we may need to look to validate somehow else?

[2022-02-24 08:15] smlx commented on #2189
Looks like it isn't supported https://github.com/joyent/node-sshpk/issues/72

[2022-02-24 08:16] smlx commented on #2189
Even the non `sk` versions will make it easier to use Yubikeys.

[2022-02-27 23:53] grahamethompson commented on #3015
This would be very helpful.

[2022-03-01 04:29] #1820 closed, assigned to smlx

[2022-03-01 04:29] #1875 closed, assigned to nobody

[2022-03-01 04:29] #2181 closed, assigned to nobody

[2022-03-01 23:29] #3044 closed, assigned to smlx

[2022-03-02 03:45] #1442 closed, assigned to nobody

[2022-03-02 07:15] serhat-ozkara commented on #2816
Is there any progress on this? We can't use lagoon & there are no warnings about incompatibility  with K8S >1.22. At least it should be documented as not compatible and K8S <1.22 is required to install Lagoon. @tobybellwood